<footer class="mt-auto text-bg p-3 text-left" style="background-color: #2E331C; color: white;">
    <div class="container">
        <div class="row" style="padding-top: 20px;">
            <!-- Primeira Coluna: Logo -->
            <div class="col-3">
                <img src="/static/img/logo/logorodape.png" alt="Logo" class="img-fluid" style="width: 100px; height:auto;">
                
            </div>
            <!-- Segunda Coluna: Navegação -->
            <div class="col-3">
                <a href="/" style="color: white; display: block; margin-bottom: 15px;">Início</a>
                <a href="/sobre" style="color: white; display: block; margin-bottom: 15px;">Sobre Nós</a>
                <a href="/termos" style="color: white; display: block; margin-bottom: 15px;">Termos do Site</a>
            </div>
            <!-- Terceira Coluna: Recursos -->
            <div class="col-3">
                <a href="/patrocinador" style="color: white; display: block; margin-bottom: 15px;">Patrocinador</a>
                <a href="/colaboradores" style="color: white; display: block; margin-bottom: 15px;">Colaboradores</a>
                <a href="/ajuda" style="color: white; display: block; margin-bottom: 15px;">Ajuda</a>
            </div>
            <!-- Quarta Coluna: Contato -->
             <!-- PEDIR MAROQUIO AJUDA PRA ARRUMAR FOOTER -->
             <div class="col-3 ps-md-0 ps-4">    
                <!-- <p style="color: white;">Contatos:</p> -->
                <p style="color: white;">(28)99901-1322</p>
                <p style="color: white; word-break: break-word;">voluntarie.es@gmail.com</p>
                <p class="align-items-between">
                    <i class="bi bi-youtube me-2"></i>
                    <i class="bi bi-instagram me-2"></i>
                    <i class="bi bi-facebook me-2" ></i>
                    <i class="bi bi-twitter-x"></i>
                </p>

            </div>
        </div>
    </div>
</footer>
