<style>
    /* Estilos para o menu lateral */
    .container-options {
        width: 270px;
        margin-top: 80px;
        background-color: #ffffff; /* cor desejada para o container-options */
    }
</style>

<div class="col-md-4">
    <div class="container-options p-3 rounded">
        <div class="row g-2">
            <div class="col-12">

                <h5>
                    <i class="person bi bi-person"></i> Minha Conta
                </h5>
            </div>
            <div class="col-12">
                <a href="/voluntario/" class="link-dark link-underline-opacity-0">Meu Perfil</a>
            </div>
            <div class="col-12">
                <a href="projetosingressados" class="link-dark link-underline-opacity-0">Projetos Ingressados</a>
            </div>
            <div class="col-12">
                <a href="projetoscriados" class="link-dark link-underline-opacity-0">Projetos Criados</a>
            </div>
            <div class="col-12">
                <a href="projetosfinalizados" class="link-dark link-underline-opacity-0">Projetos Finalizados</a>
            </div>
            <div class="col-12">
                <a href="doacoes" class="link-dark link-underline-opacity-0">Doações</a>
            </div>
            <div class="col-12">
                <a href="desativarconta" class="link-dark link-underline-opacity-0">Solicitar exclusão de conta</a>
            </div>
            <div class="col-12">
                <a href="notificacaovoluntario" class="link-dark link-underline-opacity-0">Notificações</a>
            </div>
            <div class="col-12">
                <a href="alterarsenha" class="link-dark link-underline-opacity-0">Alterar Senha</a>
            </div>
            <div class="col-12">
                <a href="voluntarioassinante" class="link-dark link-underline-opacity-0">Assinatura</a>
            </div>
        </div>
    </div>
</div>