<style>
    /* Estilos para o menu lateral */
    .container-options {
        width: 270px;
        margin-top: 80px;
        background-color: #ffffff; /* cor desejada para o container-options */
    }
</style>

<div class="col-md-4">
    <div class="container-options p-3 rounded">
        <div class="row g-2">
            <div class="col-12">

                <h5>
                    <i class="person bi bi-person"></i> Minha Conta
                </h5>
            </div>
            <div class="col-12">
                <a href="/voluntario" class="link-dark link-underline-opacity-0">Meu Perfil</a>
            </div>
            <div class="col-12">
                <a href="/voluntario/projetosingressados" class="link-dark link-underline-opacity-0">Projetos Ingressados</a>
            </div>
            <div class="col-12">
                <a href="/voluntario/projetoscriados" class="link-dark link-underline-opacity-0">Projetos Criados</a>
            </div>
            <div class="col-12">
                <a href="/voluntario/projetosfinalizados" class="link-dark link-underline-opacity-0">Projetos Finalizados</a>
            </div>
            <div class="col-12">
                <a href="/voluntario/doacoesfeitas" class="link-dark link-underline-opacity-0">Doações</a>
            </div>
            <div class="col-12">
                <a href="/voluntario/desativarconta" class="link-dark link-underline-opacity-0">Solicitar exclusão de conta</a>
            </div>
            <div class="col-12">
                <a href="/voluntario/notificacaovoluntario" class="link-dark link-underline-opacity-0">Notificações</a>
            </div>
            <div class="col-12">
                <a href="/usuario/alterarsenha" class="link-dark link-underline-opacity-0">Alterar Senha</a>
            </div>
            <div class="col-12">
                <a href="/voluntario/assinatura" class="link-dark link-underline-opacity-0">Assinatura</a>
            </div>
            {#O NOTIFICAO NAO ESTAVA CARREGANDO, PORTANTO UTILIZEI A ESTRUTURA DE IF ABAIXO PARA PELO MENOS ACESSAR A PAGINA#}
            {% if usuario is defined and usuario.perfil == 3 %}
            <div class="col-12">
                <a href="/moderador/resumodeatividades" class="link-dark link-underline-opacity-0"><i class="pe-2 bi bi-ui-checks-grid" style="color:#7b7e45"></i>Painel do Moderador</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>