{% extends "pages/base.html" %}

{% block subtitulo %}Perfil{% endblock %}
{% block conteudo %}

<style>
    .container-options {
        width: 270px;
        margin-top: 80px;
        background-color: #ffffff; 
    }
    .container-forms {
        margin-top: 40px;
        background-color: #2e331c07;
    }
    .botao-verde{
        --bs-btn-bg: #aeb073;

    }
    .person{
      color: #aeb073;
    }
    .link-ativo {
      color: #aeb073 !important; 
  }

  .form-label{
    text-align: left;
        font-weight: 500;
        display: block; /* Garante que o label seja exibido como bloco */
        margin-bottom: .5rem; /* Espaço abaixo do label */
  }
</style>
<div class="container my-3 mb-5  ">
    <div class="row">
        {%include "includes/menuAdministrador.html"%}
        <div class="col-md-6 mx-lg-5">

        </div>
    </div>
</div>
{% endblock %}