{% extends "pages/base.html" %}

{% block subtitulo %}Denúncia de Projetos{% endblock %}
{% block conteudo %}

<style>
    .container-options {
        width: 270px;
        margin-top: 80px;
        background-color: #ffffff; 
    }
    .container-forms {
        margin-top: 40px;
        background-color: #2e331c07;
    }
    .botao-verde{
        --bs-btn-bg: #aeb073;

    }
    .person{
      color: #aeb073;
    }
    .link-ativo {
      color: #aeb073 !important; 
  }
  .campo{
    width: 400px;
  }

  .link-verde {
    color: #aeb073;
}
</style>

<div class="container my-3">
    <div class="row">
 {% include "includes/menuAdministrador.html"   %}
        <div class="col-6">
            <div class="p-3" >
                <div style="font-size: 35px;">
                        <p class="text-center">Denúncias Recentes de Projetos</p> 
                </div>
            </div><br>
            <table class="table table-hover table-striped">
                <thead class="table-success">
                  <tr>
                    <th scope="col">Projeto</th>
                    <th scope="col">Motivo</th>
                    <th scope="col">Voluntário</th>
                    <th scope="col">Data</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Projeto A</th>
                    <td >Spam</td>
                    <td>Sérgio</td>
                    <td>01/06/2024</td>
                  </tr>
                  <tr>
                    <th scope="row">Projeto B</th>
                    <td>Outros</td>
                    <td>Alice</td>
                    <td>01/06/2024</td>
                  </tr>
                  <tr>
                    <th scope="row">Projeto C</th>
                    <td>Spam</td>
                    <td>Camila</td>
                    <td>01/06/2024</td>
                  </tr>
                  <tr>
                    <th scope="row">Projeto D</th>
                    <td>Spam</td>
                    <td>Leila</td>
                    <td>01/06/2024</td>
                  </tr>
                  <tr>
                    <th scope="row">Projeto A</th>
                    <td>Spam</td>
                    <td>Carlos</td>
                    <td>01/06/2024</td>
                  </tr>
                  <tr>
                    <th scope="row">Projeto F</th>
                    <td>Spam</td>
                    <td>Bianca</td>
                    <td>01/06/2024</td>
                  </tr>
                </tbody>
              </table>           
              <div class="d-flex">
                <a href="bloquearprojeto" class="link-verde">Denúncia Aprovada</a>
                <a href="projetos-bloqueados" class="link-verde ms-auto">Projetos Bloqueados</a>

            </div>
        </div>
    </div>
</div>
  
{% endblock %}
