{% extends "pages/base.html" %}

{% block subtitulo %}Perfil{% endblock %}
{% block conteudo %}

<style>
    .container-options {
        width: 270px;
        margin-top: 80px;
        background-color: #ffffff; 
    }
    .container-forms {
        margin-top: 40px;
        background-color: #2e331c07;
    }
    .botao-verde{
        --bs-btn-bg: #aeb073;

    }
    .person{
      color: #aeb073;
    }
    .link-ativo {
      color: #aeb073 !important; 
  }

  .form-label{
    text-align: left;
        font-weight: 500;
        display: block; /* Garante que o label seja exibido como bloco */
        margin-bottom: .5rem; /* Espaço abaixo do label */
  }
</style>

<div class="container my-3 mb-5  ">
    <div class="row">
        {%include "includes/menuAdministrador.html"%}
        <div class="col-md-6 mx-lg-5">
            <div class="container-forms p-3 rounded">
                <div  class="d-flex justify-content-between ms-4" style="font-size: 30px;">Meu Perfil
                </div>
                <div class="text-center">
                    <img src="/static/img/quemSomos.png" class="rounded-circle img-fluid" alt="..." style="width: 200px; height:200px;">
                </div><br>
                
                <div class="input-group mb-3 w-75 mx-auto">
                    <input type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                </div>
                <form action="/formulario_enviado" method="post">
                    <div class="w-75 text-center mt-3 container">
                        <div class="text-start mb-3">
                            <label for="nome" class="form-label">Nome:</label>
                            <input class="border border-1 rounded p-2 mb-3 w-100" id="nome" name="nome" placeholder="administrador" required>
                        </div>
                        <div class="text-start mb-3">
                            <label for="email" class="form-label">Celular:</label>
                            <input class="border border-1 rounded p-2 mb-3 w-100" id="celular" name="celular" placeholder="(28)00000-0000" required><br>
                        </div>
                        <div>
                            <button class="btn btn-secondary mt-3 border botao-verde" type="submit">alterar dados</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
