{% extends "pages/base.html" %}

{% block subtitulo %}Perfil{% endblock %}
{% block conteudo %}

<style>
    .container-options {
        width: 270px;
        margin-top: 80px;
        background-color: #ffffff;
    }

    .container-forms {
        margin-top: 40px;
        background-color: #2e331c07;
    }

    .botao-verde {
        --bs-btn-bg: #aeb073;

    }

    .person {
        color: #aeb073;
    }

    .link-ativo {
        color: #aeb073 !important;
    }

    .form-label {
        text-align: left;
        font-weight: 500;
        display: block;
        /* Garante que o label seja exibido como bloco */
        margin-bottom: .5rem;
        /* Espaço abaixo do label */
    }
    .image{

        width: 15%;
        height: 15%;
    }
    
    

</style>
<div class="container my-3 mb-5  ">
    <div class="row">
        {%include "includes/menuAdministrador.html"%}
        <div class="col-md-6 mt-5 mb-3 mx-lg-5 background005 rounded-3">
            <div class="row">
                {% for i in range(24) %}
                <img src="/static/img/logo/adidassvg.svg" alt="patrocinador" class="image mt-5" >
                {% endfor %}
            </div>
        </div>
<a href="cadastrarpatrocinador" class="button btn ms-auto me-auto ms-4 " style="background-color: #8a9a5b; width:40%; color:white;" >Cadastrar novo patrocinador</a>    
    </div>
</div>
{% endblock %}