.cards-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}
.card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 15px;
  width: 20rem;
  background-color: #F4F5F3;
  margin-bottom: 40px;

}
.card-text{
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'lato';
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Limita o número de linhas */
  -webkit-box-orient: vertical;
  
}
.address,.date {
color: #a3a651b2;
font-size: 15px;
margin-right: 20px;  
text-align: center;
}
.card-subtitle{
color: #a3a651b2;
}
.contagem,.people-icon {
color: #A3A651;
font-size: 15px;
}
