/* :root {
    --bs-dark-rgb: 163, 166, 81;
} */

.cor-navbar {
    background-color: rgba(191, 192, 153, 0.43);
}

.bi-bell {
    margin-bottom: 5px; /* Ajuste o valor conforme necessário */
}

.backgroundbuscar {
    background-color: #2E331C;
    color: white;
    
}
/* Estilos para o placeholder */
.backgroundbuscar::placeholder {
    color: #FFFFFF; /* Altera a cor do placeholder para branco */
    opacity: 1; /* Garante que a opacidade seja aplicada */
}

/* Navegadores mais antigos do Firefox */
.backgroundbuscar:-moz-placeholder {
    color: #FFFFFF;
    opacity: 1;
}

/* Internet Explorer 10+ */
.backgroundbuscar:-ms-input-placeholder {
    color: #FFFFFF;
}

/* Navegadores mais antigos do WebKit (Chrome/Safari) */
.backgroundbuscar::-webkit-input-placeholder {
    color: #FFFFFF;
}
.backgroundbuscar:focus {
    background-color: #2E331C; /* Mantém a cor de fundo original quando em foco */
    color: #FFFFFF; /* Mantém a cor do texto original quando em foco */
}

/* Termos de uso */

.page-link {
    color: var(--bs-danger);
    background-color: var(--bs-white);
    border: 1px solid var(--bs-danger);
}

.page-link:hover {
    color: var(--bs-dark);
    background-color: var(--bs-light);
    border: 1px solid var(--bs-danger);
}

.page-link.active,
.page-link.active:hover {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
    color: var(--bs-white);
}

.table td,
.table th {
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

.texto-3-linhas {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.texto-1-linha {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.Termo{
    text-align: justify;
    
}
.termo>h1{
    color: #ABAE59;
}
.termo>p{
    color: #2E331C;
}
.titletermo{
    margin-top: 1em;
}
