/* :root {
    --bs-dark-rgb: 163, 166, 81;
} */

.cor-navbar {
    background-color: rgba(191, 192, 153, 0.43);
}

.bi-bell {
    margin-bottom: 5px; /* Ajuste o valor conforme necessário */
}

.backgroundbuscar {
    background-color: #2E331C;
    color: white;
    
    
}
/* Estilos para o placeholder */
.backgroundbuscar::placeholder {
    color: #FFFFFF; /* Altera a cor do placeholder para branco */
    opacity: 1; /* Garante que a opacidade seja aplicada */
}

/* Navegadores mais antigos do Firefox */
.backgroundbuscar:-moz-placeholder {
    color: #FFFFFF;
    opacity: 1;
}

/* Internet Explorer 10+ */
.backgroundbuscar:-ms-input-placeholder {
    color: #FFFFFF;
}

/* Navegadores mais antigos do WebKit (Chrome/Safari) */
.backgroundbuscar::-webkit-input-placeholder {
    color: #FFFFFF;
}
.backgroundbuscar:focus {
    background-color: #2E331C; /* Mantém a cor de fundo original quando em foco */
    color: #FFFFFF; /* Mantém a cor do texto original quando em foco */
}

/* pagina entrar */

.container {
    width: 600px;
    height: 526px;
    background-color: #2e331c0a;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    border-radius: 5px; 
}

.fechar {
    position: absolute;
    right: 25px;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
}

.entrar {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}

.mensagem {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.email,
.password,
button {
    width: 287px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding-left: 10px;
}

button {
    width: 298px;
    background-color: #AEB073;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.centralizar {
    margin-top: 40px;
    text-align: center;
}

.links {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 18px;
}

a {
    color: #4C5630;
}

.links a:hover {
    color: #8a9470;
}


