.green-rectangle {
    background-color: #2E331C; /* Verde */
    width: 550px;
    height: 100px;
     /* Centraliza horizontalmente e adiciona margens superior e inferior de 5px */
  }
  #titulo1{
      font-size: 30px;
      font-family: 'lato';
      font-weight: bold;
      padding-top: 150px;
      color: #2E331C;
  }
  h2{
    font-size: 25px;
      color: #A3A651;
      font-family: 'lato';
      font-weight: bold;
  }
  .cards-wrapper{
      display: flex;
      justify-content: center;
      flex-wrap: wrap
    }
    .card img {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      max-width: 100%;
      max-height: 100%;
    }
    .card {
      margin: 0 0.5em;
      box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
      border: none;
      border-radius: 15px;
      width: 20rem;
      background-color: #F4F5F3;

    }
    .card-avaliacao{
      margin: 0 0.5em;
      box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
      border: none;
      border-radius: 15px;
      width: 21rem;
      height: 450px;
      background-color: #F4F5F3;
    }
    .carousel-inner {
      padding: 1em;
    }
    .carousel-control-prev,
    .carousel-control-next {
      background-color: #A3A651;
      width: 5vh;
      height: 5vh;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
    }
    .card-text{
      white-space: pre-wrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: 'lato';
      display: -webkit-box;
      -webkit-line-clamp: 4; /* Limita o número de linhas */
      -webkit-box-orient: vertical;
      
  }
  .address,.date {
    color: #a3a651b2;
    font-size: 15px;
    margin-right: 20px;  
    text-align: center;
  }
  .card-subtitle{
    color: #a3a651b2;
  }
  .contagem,.people-icon {
    color: #A3A651;
    font-size: 15px;
  }

  .image-container {
    position: relative;
    text-align: center;
    color: white;
}

.image-container img {
    width: 100%;
    height: auto;
}

.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.centered-content a {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #A3A651;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 25px;
}

.centered-content a:hover {
    background-color: #7b7e45; 
}
    @media (min-width: 768px) {
      .card img {
        height: 13em;
      }
    }
    .avaliacao{
      display: flex;
      margin-left: 60px;
     }
    .star-icon{
      list-style-type: none;
      
      color: #A3A651;
      font-size: 35px;/* alterar o tamanho das estrelas */
    }
    .star-icon::before{
      content: "\2605";
    }
    .star-icon.ativo ~ .star-icon::before{
      content: "\2606";
    }
    .avaliacao .star-icon::before{
      content: "\2605";
    }
    .star-icon ~ .star-icon::before{
      content: "\2606";
    }