
  #titulo1{
      font-size: 30px;

      padding-top: 150px;
      color: #2E331C;
  }
  h2{
    font-size: 25px;
      color: #A3A651;

  }
    
    .carousel-inner {
      padding: 1em;
    }
    .carousel-control-prev,
    .carousel-control-next {
      background-color: #A3A651;
      width: 5vh;
      height: 5vh;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
    }

  .image-container {
    position: relative;
    text-align: center;
    color: white;
}

.image-container img {
    width: 100%;
    height: auto;
}

.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.centered-content a {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #A3A651;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 25px;
}

.centered-content a:hover {
    background-color: #7b7e45; 
}
    @media (min-width: 768px) {
      .card img {
        height: 13em;
      }
    }
    .avaliacao{
      display: flex;
      margin-left: 60px;
     }
    .star-icon{
      list-style-type: none;
      
      color: #A3A651;
      font-size: 35px;/* alterar o tamanho das estrelas */
    }
    .star-icon::before{
      content: "\2605";
    }
    .star-icon.ativo ~ .star-icon::before{
      content: "\2606";
    }
    .avaliacao .star-icon::before{
      content: "\2605";
    }
    .star-icon ~ .star-icon::before{
      content: "\2606";
    }