{% extends "pages/base.html" %}

{% block subtitulo %}Perfil{% endblock %}
{% block conteudo %}

<style>
    .container-options {
        width: 270px;
        margin-top: 80px;
        background-color: #ffffff; 
    }
    .container-forms {
        margin-top: 40px;
        background-color: #2e331c07;
        max-width: 600px; /* Define a largura máxima do container */
        margin: auto; /* Centraliza o container horizontalmente */
        padding: 20px; /* Ajusta o padding interno para melhor apresentação */
    }
    .botao-verde {
        --bs-btn-bg: #aeb073;
    }
    .person {
        color: #aeb073;
    }
    .link-ativo {
        color: #aeb073 !important; 
    }
    .campo {
        width: 100%; /* Ajusta a largura dos campos para preencher o espaço disponível */
    }
    .bi-exclamation-square {
        color: #aeb073;
    }
    .form-label {
        text-align: left;
        font-weight: 500;
        display: block; /* Garante que o label seja exibido como bloco */
        margin-bottom: .5rem; /* Espaço abaixo do label */
    }
    .text-center-custom {
        text-align: center;
    }
    @media (max-width: 768px) {
        .container-options, .container-forms {
            margin-top: 20px; /* Reduz a margem superior em telas menores */
        }
    }
    @media (max-width: 576px) {
        .container-options {
            width: 100%; /* Garante que o contêiner de opções ocupe toda a largura disponível */
        }
        .container-forms {
            width: 100%; /* Garante que o contêiner de formulários ocupe toda a largura disponível */
        }
    }
</style>

<div class="container my-3">
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <div class="container-options p-3 rounded">
                <div class="row g-2">
                    <div class="col-12">
                        <h5><i class="person bi bi-person"></i> Minha Conta</h5>
                    </div>
                    <div class="col-12">
                        <a href="meuPerfil" class="link-dark link-underline-opacity-0 link-ativo">Meu Perfil</a>
                    </div>
                    <div class="col-12">
                        <a href="projetosIngressados" class="link-dark link-underline-opacity-0">Projetos Ingressados</a>
                    </div>
                    <div class="col-12">
                        <a href="projetosCriados" class="link-dark link-underline-opacity-0">Projetos Criados</a>
                    </div>
                    <div class="col-12">
                        <a href="projetosFinalizados" class="link-dark link-underline-opacity-0">Projetos Finalizados</a>
                    </div>
                    <div class="col-12">
                        <a href="doacoes" class="link-dark link-underline-opacity-0">Doações</a>
                    </div>
                    <div class="col-12">
                        <a href="solicitarExclusao" class="link-dark link-underline-opacity-0">Solicitar exclusão de conta</a>
                    </div>
                    <div class="col-12">
                        <a href="notificacaovoluntario" class="link-dark link-underline-opacity-0">Notificações</a>
                    </div>
                    <div class="col-12">
                        <a href="alterarSenha" class="link-dark link-underline-opacity-0">Alterar Senha</a>
                    </div>
                    <div class="col-12">
                        <a href="/assinatura" class="link-dark link-underline-opacity-0">Assinatura</a>
                    </div>
                    <div class="col-12">
                        <h5><i class="bi bi-exclamation-square"></i> Moderador</h5>
                    </div>
                    <div class="col-12">
                        <a href="/moderador/resumodeatividades" class="link-dark link-underline-opacity-0">Painel do Moderador</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-9">
            <div class="container-forms p-3 rounded">
                <div class="d-flex justify-content-between ms-4" style="font-size: 20px;">
                    Meu Perfil
                </div>
                <div class="text-center">
                    <img src="/static/img/quemSomos.png" class="rounded-circle img-fluid" alt="..." style="width: 200px; height: 200px;">
                </div>
                <br>
                
                <div class="input-group mb-3 w-75 mx-auto">
                    <input type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                </div>
                <form action="/formulario_enviado" method="post">
                    <div class="text-center-custom mt-3">
                        <div class="text-start mb-3">
                            <label for="nome" class="form-label">Nome:</label>
                            <input class="campo border border-1 rounded p-2 mb-3" id="nome" name="nome" value="{{usuario.nome}}">
                        </div>
                        <div class="text-start mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input class="campo border border-1 rounded p-2 mb-3" id="email" name="email" value="{{usuario.email}}">
                        </div>
                        <div>
                            <button class="btn btn-secondary mt-3 border p-2 botao-verde w-25" type="submit">Gravar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}



