{% extends "pages/base_fundo.html" %}
{% block subtitulo %}colaboradores{% endblock %}
{% block conteudo %}
<style>
  h3 {
    color: #A3A651;
  }

  .card {
    width: 426px;
    /* Define uma largura específica para os cards */
    height: 170px;
    /* Define uma altura específica para os cards */
    background-color: rgba(180, 189, 148, 0.05);

  }

  div.bg-header {
    background-image: url('/static/img/imgnocacolab.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 99.1vw  
  }
  .linha-vertical {
    width: 3px;
    /* Largura da linha vertical */
    height: 140px;
    /* Altura da linha vertical */
    background-color: #AEB073;
    opacity: 100%;

}

.facadoacao {
    margin-top: 10cm;
    margin-left: 2cm;
    color: white;

}

.linha-vertical-container {
    display: flex;
    align-items: center;
    /* Alinha verticalmente no centro */
    margin-left: 2cm;
    /* Centraliza horizontalmente no contêiner */
    height: 10;
    /* Altura total da viewport para centralização vertical */
    position: relative;
}
.linha-vertical-container>h3 {
    color: white
    
}
</style>
<div class="bg-header">
  <h1 class="facadoacao">Apoie o futuro dos projetos, faça sua doação</h1>
  <div class="linha-vertical-container">
      <div class="linha-vertical"></div>
      <h3 class="ps-3">Torne-se um colaborador doando para projetos. Com isso você irá <br>contribuir para um futuro melhor e será reconhecido pelo site.</h3><br>
      
  </div>

</div>
<div class="min-vh-100"></div>
<div class="green-rectangle rounded mt-5 mx-auto"></div>
<br><br>
<h3>Maiores doações:</h3>
<hr>
<div id="carouselcontrolmaiordoacao" class="carousel slide" data-ride="carousel">
  <!-- PEDIR MAROQUIO AJUDA PRA ARRUMAR OS SLIDES DO CARROSEL -->

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper">
        {% for i in range(6) %}
        <div class="card">

          <div class="card-body">
            <h5 class="card-title text-center"><i class="bi bi-person-circle fs-1"></i>
              <h5 class="frase"> @nickCreator acabou de doar R$:900,00 para o projeto "Nome do projeto"</h5>
              <p>
                <span class="date">19/02/2024</span>
              </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        {% for i in range(6) %}
        <div class="card">

          <div class="card-body">
            <h5 class="card-title text-center fs-4"><i class="bi bi-person-circle fs-1"></i></h5>
            <h5 class="frase"> @nickCreator acabou de doar R$:900,00 para o projeto "Nome do projeto"</h5>
            <span class="date">19/02/2024</span>
            </p>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
  <button class="carousel-control-prev" data-bs-target="#carouselcontrolmaiordoacao" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" data-bs-target="#carouselcontrolmaiordoacao" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<h3>doações recentes:</h3>
<hr>
<div id="carouselcontroldoacaorecente" class="carousel slide" data-ride="carousel">
  <!-- PEDIR MAROQUIO AJUDA PRA ARRUMAR OS SLIDES DO CARROSEL -->

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper">
        {% for i in range(6) %}
        <div class="card">

          <div class="card-body">
            <h5 class="card-title text-center"><i class="bi bi-person-circle fs-1"></i>
              <h5 class="frase"> @nickCreator acabou de doar R$:900,00 para o projeto "Nome do projeto"</h5>
              <p>
                <span class="date">19/02/2024</span>
              </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        {% for i in range(6) %}
        <div class="card">

          <div class="card-body">
            <h5 class="card-title text-center fs-4"><i class="bi bi-person-circle fs-1"></i></h5>
            <h5 class="frase"> @nickCreator acabou de doar R$:900,00 para o projeto "Nome do projeto"</h5>
            <span class="date">19/02/2024</span>
            </p>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
  <button class="carousel-control-prev" data-bs-target="#carouselcontroldoacaorecente" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" data-bs-target="#carouselcontroldoacaorecente" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>





{% endblock %}