{% extends "pages/base.html" %}

{% block subtitulo %}Entrar{% endblock %}
{% block conteudo %}


    <title>Desativar Conta</title>
    <style>

        h1 {
            color: #2E331C;
            font-size: 24px;
            text-align: center;
        }
        .nickname {
            color: rgba(46, 51, 28, 0.59);
            font-size: 20px;
            text-align: center;
            margin-bottom: 30px;
        }
        p {
            color: rgba(46, 51, 28, 0.59);
            font-size: 16px;
            line-height: 1.5;
            
        }
        .button-container {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 40px;
            margin-top: 30px;
        }
        .desativar-button {
            background-color: #AEB073;
            color: #FFFFFF;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }
        .desativar-button:hover {
            background-color: #9CA862;
        }
    </style>
</head>
<body>
  <p>
        <h1>Desativar Conta</h1>
        <p class="nickname">@nick</p>
        <p>Estamos tristes em saber que você deseja desativar sua conta. Antes de prosseguir, queremos agradecer por fazer parte da nossa comunidade de voluntariado. Seu envolvimento foi valioso e esperamos que tenha tido uma experiência positiva.</p>
        <p>Ao desativar sua conta, você estará perdendo acesso a todas as funcionalidades e projetos em que esteve envolvido. Sua participação nos projetos será descontinuada e seus dados não estarão mais visíveis para outros usuários. Se tiver certeza de que deseja prosseguir, clique no botão abaixo para confirmar a desativação.</p>
        <p>Se houver algo que possamos fazer para melhorar sua experiência ou se você tiver qualquer dúvida, por favor, entre em contato com nossa equipe de suporte. Estamos aqui para ajudar!</p>
        <p>Obrigado por sua contribuição e esperamos vê-lo novamente em breve!</p>
        <p>Equipe VoluntariÊ</p>
        <div class="button-container">
            <button class="desativar-button">Desativar</button>
        </div>
    </div>
  </p>
</body>
</html>



{% endblock %}