{% extends "pages/base.html" %}

{% block subtitulo %}doacao{% endblock %}
{% block custom_header %}{% endblock %}
{% block conteudo %}
<style>
    .container-doacao {
        background-color: rgba(46, 51, 28, 0.05);
        margin: 8% 18%;
        padding: 2cm;
        border-radius: 3%;
        position: relative;
        /* Permite o posicionamento absoluto dos elementos internos */
    }

    .container-passos {
        text-align: center;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        color: #2E331C;
        margin-bottom: 2rem;
        /* Adiciona um espaço entre o título e as medalhas */
    }

    .medalhas {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;
        /* Espaço entre as medalhas e as opções de doação */
    }

    .medalhas img {
        height: 100%;
        width: 25%;
        margin-top: 4%;
    }

    .opcoes {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .opcao-doacao {
        background-color: white;
        border-radius: 5%;
        text-align: center;
        padding: 1rem;
        flex: 1 1 30%;
    }

    .opcao-doacao>h3 {
        color: rgb(163, 166, 81);
    }

    .medalha-ouro,
    .medalha-prata,
    .medalha-bronze {
        align-items: center;
        justify-content: center;
        text-align: center;

    }
    .non-container{
        text-align: center;
        font-family: 'lato';
        font-style: normal;
        margin-top: 4%;
    }
</style>

<div class="container-doacao">
    <div class="container-passos">
        <!-- Adicione aqui quaisquer etapas ou indicadores de progresso, se necessário -->
        a
    </div>
    <h5>Quero doar:</h5>
    <div class="medalhas">
        <div class="medalha-ouro"><img src="/static/img/gold-medal.png" alt="Medalha de Ouro"></div>
        <div class="medalha-prata"><img src="/static/img/silver-medal.png" alt="Medalha de Prata"></div>
        <div class="medalha-bronze"><img src="/static/img/bronze-medal.png" alt="Medalha de Bronze"></div>



    </div>
    <div class="opcoes">
        <div class="opcao-doacao">
            <h3>R$60,00</h3>
            <h6>O doador terá seu nome exibido na categoria ouro</h6>
        </div>
        <div class="opcao-doacao">
            <h3>R$60,00</h3>
            <h6>O doador terá seu nome exibido na categoria ouro</h6>
        </div>
        <div class="opcao-doacao">
            <h3>R$60,00</h3>
            <h6>O doador terá seu nome exibido na categoria ouro</h6>
        </div>
    </div>
    <h6 class="non-container">quer doar mais? insira abaixo a quantia desejada</h6>
</div>

{% endblock %}