{% extends "pages/base.html" %}

{% block subtitulo %}doacao{% endblock %}
{% block custom_header %}{% endblock %}
{% block conteudo %}
<style>
    .container-doacao {
        background-color: rgba(46, 51, 28, 0.05);
        margin: 8% 18%;
        padding: 2cm;
        border-radius: 3%;
        position: relative;
    }

    .container-passos {
        text-align: center;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        color: #2E331C;
        margin-bottom: 2rem;
    }

    .medalhas {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .medalhas img {
        height: 100%;
        width: 25%;
        margin-top: 4%;
    }

    .opcoes {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .opcao-doacao {
        background-color: white;
        border: 2px solid #A3A651;
        border-radius: 5%;
        text-align: center;
        padding: 1rem;
        flex: 1 1 30%;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s, transform 0.5s;
        box-shadow: 0 0 0 transparent;
        z-index: 1;
    }

    .opcao-doacao:hover {
        background-color: rgb(208, 208, 208, 0.05);
        border-color: #8a9a5b;
    }

    .opcao-doacao:active {
        transform: scale(1.2);
        z-index: 2;
    }

    .opcao-doacao.active {
        transform: scale(1.2);
        z-index: 2;
        background-color: rgb(208, 208, 208, 0.05);
        border-color: #8a9a5b;
    }

    .opcao-doacao h3 {
        color: rgb(163, 166, 81);
    }

    .opcao-doacao h6 {
        color: #666;
    }

    .medalha-ouro,
    .medalha-prata,
    .medalha-bronze {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .non-container {
        text-align: center;
        font-family: 'Lato';
        font-style: normal;
        margin-top: 4%;
    }

    .input-custom {
        width: 40%;
        display: block;
    }

    .input-custom::placeholder {
        color: #888;
        font-size: 1em;
    }

    .valor-adicional {
        margin-left: 35%;
        margin-top: 5%;
    }

    .valor-adicional>p {
        font-size: x-small;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }

    .confirmar {
        margin-top: 3%;
        margin-left: 40%;
    }
    .doacao-superior{
        text-align: center;
        color: white;
    }
</style>

<div class="row flex-column justify-content-center">

    
    <div class="col-6 mx-auto backgroundnormal p-4 rounded-top-4 doacao-superior">
        <h1>DOACAO</h1><br>
        <h3>DOE PARA UM PROJETO</h3>
        <br>
        <h6>"SUA DOAÇÃO HOJE É A ESPERANÇA DE UM FUTURO MELHOR DE AMANHÃ."</h6>

    </div>
    <div class="col-6 mx-auto  background005 p-4 rounded-bottom-4">
        <h5>Quero doar:</h5>
        <div class="medalhas">
            <div class="medalha-ouro"><img src="/static/img/gold-medal.png" alt="Medalha de Ouro"></div>
            <div class="medalha-prata"><img src="/static/img/silver-medal.png" alt="Medalha de Prata"></div>
            <div class="medalha-bronze"><img src="/static/img/bronze-medal.png" alt="Medalha de Bronze"></div>
        </div>
        <div class="d-flex gap-5">
            <button class="opcao-doacao">
                <h3>R$60,00</h3>
                <h6>O doador terá seu nome exibido na categoria ouro</h6>
            </button>
            <button class="opcao-doacao">
                <h3>R$35,00</h3>
                <h6>O doador terá seu nome exibido na categoria prata</h6>
            </button>
            <button class="opcao-doacao">
                <h3>R$15,00</h3>
                <h6>O doador terá seu nome exibido na categoria bronze</h6>
            </button>
        </div>
        <h6 class="non-container">Quer doar mais? Insira abaixo a quantia desejada</h6>

        <div class="valor-adicional">
            <p>Apenas valores acima de R$60,00</p>
            <input class="form-control me-1 input-custom" type="search" placeholder="ex: R$100,00" aria-label="Search">
        </div>
        <a href="#" class="btn fw-semibold d-grid col-2 confirmar"
            style="color:white; background-color:#A3A651;">Confirmar</a>
    </div>
</div>

<script>
    document.querySelectorAll('.opcao-doacao').forEach(button => {
        button.addEventListener('click', function () {
            // Remove a classe 'active' de todos os botões
            document.querySelectorAll('.opcao-doacao').forEach(btn => btn.classList.remove('active'));

            // Adiciona a classe 'active' ao botão clicado
            this.classList.add('active');
        });
    });
</script>

{% endblock %}