{% extends "pages/base.html" %}

{% block subtitulo %}Entrar{% endblock %}

{% block conteudo %}
<img src="/static/img/logopreta.png" alt="VOLUNTÁRIE" width="220px" style="padding: 50px;">

    <main class="container my-3">
        <span class="fechar">✖</span>
        <div class="entrar">Entrar</div>
        <div class="mensagem">Entre com a sua conta</div>
        <form action="/formulario_enviado" method="post">
            <div class="centralizar">
                <input class="email" id="email" name="email" placeholder=" "><br>
                <input class="password" id="senha" name="senha" placeholder=" "><br>
                <button type="submit">Confirmar</button>
            </div>
        </form>
        <div class="links">
            <a href="/esqueceusenha">Esqueceu sua senha?</a><br>
            <a href="/cadastro">Não possui cadastro? Clique aqui</a>
        </div>
    </main>
    <style>  
        .container {
            width: 600px;
            height: 526px;
            background-color: #2e331c0a;
            padding: 20px;
            box-sizing: border-box;
            position: relative;
            border-radius: 5px;
            
            
        }

        .fechar {
            position: absolute;
            right: 25px;
            font-size: 24px;
            cursor: pointer;
            padding: 5px;
        }

        .entrar {
            font-family: 'Lato', sans-serif;
            font-size: 40px;
            text-align: center;
            margin-top: 50px;
        }

        .mensagem {
            font-family: 'Lato', sans-serif;
            font-size: 18px;
            text-align: center;
            margin-top: 10px;
        }

        .email,
        .password,
        button {
            width: 287px;
            height: 50px;
            border-radius: 5px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            padding-left: 10px;
        }

        button {
            width: 298px;
            background-color: #AEB073;
            color: white;
            border: none;
            cursor: pointer;
        }

        button:hover {
            opacity: 0.9;
        }

        .centralizar {
            margin-top: 40px;
            text-align: center;
        }

        .links {
            font-family: 'Lato', sans-serif;
            font-size: 15px;
            text-align: center;
            margin-top: 18px;
        }

        a {
            color: #4C5630;
        }

        .links a:hover {
            color: #8a9470;
        }
    </style>
{% endblock %}
