
{% extends "pages/base.html" %}

{% block subtitulo %}Entrar{% endblock %}
{% block custom_header %}{% endblock %}
{% block conteudo %}

<style>
    .botao-verde {
        --bs-btn-bg: #aeb073;
    
    }
    .tamanho{
        color: #2E331C;
    }
    .link-verde {
        color: #aeb073;
    }
    .link-verde:hover {
        color: #d1d39a;
    }

</style>
<!-- FALTA RESOLVER RESPONSIVIDADE -->
<div class="container text-center">
<img src="/static/img/logo/logoverde.png" alt="VOLUNTÁRIE" width="240px" style="padding: 50px;">
</div>
<main class="container my-3">
    <div class="row" >
        <div class="  offset-4 col-4 bg-light p-3 rounded">
            <span class= "fs-5">
                <i class="bi bi-x-lg"></i>
            </span>
            <div class="text-center" style="font-size: 40px;">Entrar</div>
            <div class="text-center mt-2">Entre com a sua conta</div>
            <form action="/formulario_enviado" method="post">
                <div class="text-center mt-3">
                    <input class="border border-1 rounded p-2 w-75 mb-3" id="email" name="email" placeholder="Email"><br>

                    <input class="border border-1 rounded p-2 w-75 mb-3" id="senha" name="senha" placeholder="Senha"><br>

                    <button class="btn btn-secondary mt-3 border p-2 botao-verde w-75" type="submit" text-center>Confirmar</button>
                    
                </div>
            </form>
            <div class="mt-3 mb-3 text-center" >
                <a href="/esqueceusenha" class="link-verde">Esqueceu sua senha?</a><br>
                <a href="/cadastro" class="link-verde">Não possui cadastro? Clique aqui</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}