{% extends "pages/base_fundo.html" %}
{% block subtitulo %}Principal{% endblock %}
{% block conteudo %}
<style>
  div.bg-header {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/static/img/imagemlogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .star-rating{
  color: #7b7e45;
  }
  
</style>
<div>  {% set usuario = request.state.usuario %}
<div class="bg-header">
</div>
<div class="min-vh-100"></div>
<div class="green-rectangle d-none rounded mt-5 mx-auto"></div>
<!-- NAO ESTA RESPONSIVO, PORTANTO FOI COLOCADO D-NONE -->

<h1 id="titulo1">Projetos em Destaque</h1>
<h2>Projetos impulsionados pelos criadores.</h2>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <!-- PEDIR MAROQUIO AJUDA PRA ARRUMAR OS SLIDES DO CARROSEL -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper">
        <div class="card">
          <img src="/static/img/gatoabandonado.png" class="card-img-top " alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fs-4">Abandono de Animais</h5>
            <h6 class="card-subtitle text-center">@ongAmiga</h6>
            <p class="card-text">sabemos que o abandono de animais é e sempre foi um problema. A crueldade humana vai além do que podemos imaginar. Por isso contamos com a SUA ajuda parfa diminuir esse problema na nossa cidade.</p>
            <p>
              <span class="address">Rua Fernando Linhares, 71, ES </span>
              <span class="date">19/06/2024</span>
            </p>
            <a href="/visualizarprojeto" class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
              style="color:white; background-color:#2E331C;">Ver projeto</a>
            <p class="text-center pt-3" style="color: #A3A651; font-size: 15px;"><i
                class="bi bi-person-fill people-icon"></i> 10/10</p>
          </div>
        </div>
        <div class="card d-none d-md-block">
          <img src="/static/img/plantioarvores.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fs-4">Manejo Florestal</h5>
            <h6 class="card-subtitle text-center">@LeandraMota</h6>
            <p class="card-text"> Nossas florestas e bosques estão sumindo aos poucos... Precisamos da sua ajuda para o bem de todos! A sua ajuda é mais do que importante, é essencial.</p>
            <p>
              <span class="address">Rua Patricio Rosa, 78, ES </span>
              <span class="date">09/02/2024</span>
            </p>
            <a href="/visualizarprojeto" class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
              style="color:white; background-color:#2E331C;">Ver projeto</a>
            <p class="text-center pt-3" style="color: #A3A651; font-size: 15px;"><i
                class="bi bi-person-fill people-icon"></i> 8/10</p>
          </div>
        </div>
        <div class="card d-none d-md-block">
          <img src="/static/img/limpezarios.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fs-4">Limpeza de rios</h5>
            <h6 class="card-subtitle text-center">@EquipeAcqua</h6>
            <p class="card-text">A Poluição do rio do Conde está prejudicando a vida dos moradores das redondezas, a fauna e também a flora. Não podemos negligenciar essa problema mais. Para soluciona-lo precisamos da SUA ajuda./p>
            <p>
              <span class="address">Rua Condado de Minas, 91, ES </span>
              <span class="date">15/02/2024</span>
            </p>
            <a href="/visualizarprojeto" class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
              style="color:white; background-color:#2E331C;">Ver projeto</a>
            <p class="text-center pt-3" style="color: #A3A651; font-size: 15px;"><i
                class="bi bi-person-fill people-icon"></i> 9/10</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <img src="/static/img/tartaruga.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fs-4">Ajuda marinha</h5>
            <h6 class="card-subtitle text-center">@LixoZer0</h6>
            <p class="card-text">A situação da praia das castanheiras está deplorável. Precisamos da sua ajuda para recolher o lixo, para que a fauna nao sofra tanto. milhares de tartarugas, peixes entre outros animais morrem todos os anos por nossa culpa, é o mínimo que podemos fazer por eles. </p>
            <p>
              <span class="address">Rua Praia das Castanheiras, 41, ES </span>
              <span class="date">19/02/2024</span>
            </p>
            <a href="/visualizarprojeto" class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
              style="color:white; background-color:#2E331C;">Ver projeto</a>
            <p class="text-center pt-3" style="color: #A3A651; font-size: 15px;"><i
                class="bi bi-person-fill people-icon"></i> 5/10</p>
          </div>
        </div>
        <div class="card d-none d-md-block">
          <img src="/static/img/prenvencaodengue.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fs-4">Prevencao contra Dengue</h5>
            <h6 class="card-subtitle text-center">@Denguenão</h6>
            <p class="card-text">A situação em nossa comunidade em relação à dengue está alarmante. Precisamos da sua ajuda para eliminar focos de água parada e acabar com os criadouros do mosquito Aedes aegypti. Todos os anos, milhares de pessoas adoecem e muitas perdem suas vidas por causa da dengue, e isso é consequência da nossa falta de cuidado. É o mínimo que podemos fazer por nossas famílias e vizinhos: juntos, podemos proteger nossa saúde e evitar que mais vidas sejam afetadas.</p>
            <p>
              <span class="address">Rua Pedro Nogueira, 11, ES </span>
              <span class="date">19/06/2024</span>
            </p>
            <a href="/visualizarprojeto" class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
              style="color:white; background-color:#2E331C;">Ver projeto</a>
            <p class="text-center pt-3" style="color: #A3A651; font-size: 15px;"><i
                class="bi bi-person-fill people-icon"></i> 5/10</p>
          </div>
        </div>
        <div class="card d-none d-md-block">
          <img src="/static/img/ong.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fs-4">Doacão de cães</h5>
            <h6 class="card-subtitle text-center">@encontreumamigo</h6>
            <p class="card-text">A situação dos cães abandonados em nossa cidade é crítica. Precisamos da sua ajuda para dar a esses animais uma chance de terem um lar cheio de amor e cuidado. Centenas de cães vivem nas ruas, expostos a perigos e doenças, por nossa negligência. Eles só precisam de um lar, e nós podemos fazer a diferença. Adotar ou doar para instituições que cuidam desses animais é o mínimo que podemos fazer por eles. Junte-se a nós nessa causa e ajude a mudar a vida desses animais!


            </p>
            <p>
              <span class="address">Rua Carlos Melo Andrade, 96,ES </span>
              <span class="date">15/12/2024</span>
            </p>
            <a href="/visualizarprojeto" class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
              style="color:white; background-color:#2E331C;">Ver projeto</a>
            <p class="text-center pt-3" style="color: #A3A651; font-size: 15px;"><i
                class="bi bi-person-fill people-icon"></i> 9/10</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<h1 id="titulo1">Projetos recentes</h1>
<h2><a href="/projetos" style="color:#2E331C59">Veja todos os projetos</a></h2>

<div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper">
        <div class="card">
          <img src="/static/img/alimentos.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fs-4">Doacao de alimentos</h5>
            <h6 class="card-subtitle text-center">@Zelia</h6>
            <p class="card-text">A fome é uma realidade para muitas famílias em nossa comunidade, e nós podemos mudar isso com sua ajuda. Precisamos de doações de alimentos para garantir que ninguém passe por essa dificuldade. Cada quilo de arroz, feijão ou qualquer outro alimento faz uma enorme diferença na vida de quem mais precisa. Juntos, podemos oferecer um pouco de alívio e esperança para essas famílias. Doe alimentos e ajude a combater a fome em nossa comunidade!




            </p>
            <p>
              <span class="address">Rua Carminha Santos, 08, ES </span>
              <span class="date">03/11/2024</span>
            </p>
            <a href="/visualizarprojeto" class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
              style="color:white; background-color:#2E331C;">Ver projeto</a>
            <p class="text-center pt-3" style="color: #A3A651; font-size: 15px;"><i
                class="bi bi-person-fill people-icon"></i> 8/10</p>
          </div>
        </div>
        <div class="card d-none d-md-block">
          <img src="/static/img/plantioarvores.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fs-4">Florestas Sustentáveis</h5>
            <h6 class="card-subtitle text-center">@Leonor</h6>
            <p class="card-text">A preservação de nossas florestas é essencial para o futuro do planeta, e precisamos da sua ajuda para promover práticas sustentáveis. O desmatamento e o uso irresponsável dos recursos naturais estão destruindo ecossistemas inteiros, ameaçando a biodiversidade e o equilíbrio climático. Adotar iniciativas de reflorestamento e manejo sustentável é o mínimo que podemos fazer para garantir um futuro saudável para as próximas gerações. Junte-se a nós na criação de florestas sustentáveis, preservando a vida e o meio ambiente!


              voluptas.</p>
            <p>
              <span class="address">Rua Gracie Mendes, 22, ES </span>
              <span class="date">09/12/2024</span>
            </p>
            <a href="/visualizarprojeto" class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
              style="color:white; background-color:#2E331C;">Ver projeto</a>
            <p class="text-center pt-3" style="color: #A3A651; font-size: 15px;"><i
                class="bi bi-person-fill people-icon"></i> 7/10</p>
          </div>
        </div>
        <div class="card d-none d-md-block">
          <img src="/static/img/cachorrodesnutrido.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fs-4">Desnutricao canina</h5>
            <h6 class="card-subtitle text-center">@MilenaRomano</h6>
            <p class="card-text">A desnutrição canina é um problema sério que afeta muitos cães abandonados ou maltratados, e eles precisam da sua ajuda. A falta de uma alimentação adequada compromete a saúde, o desenvolvimento e até a sobrevivência desses animais. Com a sua doação de alimentos nutritivos, vitaminas e suplementos, podemos mudar essa realidade e garantir que esses cães recebam o cuidado que merecem. Ajude a combater a desnutrição canina e a proporcionar uma vida mais saudável para esses animais! Eles dependem de nós.

            </p>
            <p>
              <span class="address">Rua Heleanor Braga, 61, ES </span>
              <span class="date">26/02/2024</span>
            </p>
            <a href="/visualizarprojeto" class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
              style="color:white; background-color:#2E331C;">Ver projeto</a>
            <p class="text-center pt-3" style="color: #A3A651; font-size: 15px;"><i
                class="bi bi-person-fill people-icon"></i> 8/10</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <img src="/static/img/limpezarios.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fs-4">Limpeza de rios</h5>
            <h6 class="card-subtitle text-center">@TerezaSalvador</h6>
            <p class="card-text">Nossos rios estão cada vez mais poluídos, e a vida aquática está em risco. Precisamos da sua ajuda para limpar e preservar esses importantes recursos naturais. A poluição dos rios afeta não só os animais que vivem neles, mas também nossa saúde e o abastecimento de água. Juntos, podemos remover o lixo, evitar o despejo de resíduos e conscientizar nossa comunidade sobre a importância da preservação dos rios. Participe da ação de limpeza e ajude a salvar nossos rios e a biodiversidade que depende deles!

            </p>
            <p>
              <span class="address">Rua Lana Del Rey, 13, ES </span>
              <span class="date">13/12/2024</span>
            </p>
            <a href="/visualizarprojeto" class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
              style="color:white; background-color:#2E331C;">Ver projeto</a>
            <p class="text-center pt-3" style="color: #A3A651; font-size: 15px;"><i
                class="bi bi-person-fill people-icon"></i> 10/10</p>
          </div>
        </div>
        <div class="card d-none d-md-block">
          <img src="/static/img/limpezafloresta.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fs-4">Limpeza forestal</h5>
            <h6 class="card-subtitle text-center">@CleanForest</h6>
            <p class="card-text">Nossas florestas estão sofrendo com o acúmulo de lixo e resíduos que ameaçam a fauna e a flora locais. Precisamos da sua ajuda para limpar e preservar esses ambientes tão importantes para o equilíbrio do ecossistema. O lixo descartado de forma inadequada prejudica a vida selvagem e aumenta o risco de incêndios florestais. Ao participar de ações de limpeza, estamos protegendo a biodiversidade e garantindo que as futuras gerações possam desfrutar dessas áreas verdes. Junte-se a nós na limpeza das florestas e ajude a proteger nosso meio ambiente!

            </p>
            <p>
              <span class="address">Rua Verde Brasil, 30, ES </span>
              <span class="date">31/07/2024</span>
            </p>
            <a href="/visualizarprojeto" class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
              style="color:white; background-color:#2E331C;">Ver projeto</a>
            <p class="text-center pt-3" style="color: #A3A651; font-size: 15px;"><i
                class="bi bi-person-fill people-icon"></i> 4/10</p>
          </div>
        </div>
        <div class="card d-none d-md-block">
          <img src="/static/img/gatoabandonado.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fs-4">Abandono felino</h5>
            <h6 class="card-subtitle text-center">@Gatosresgate</h6>
            <p class="card-text">O abandono de gatos é uma realidade triste que precisa da nossa atenção. Cada vez mais felinos estão sendo deixados nas ruas, expostos a fome, doenças e perigos. Esses animais, que muitas vezes só querem um lar e carinho, acabam sofrendo por nossa negligência. Precisamos da sua ajuda para mudar essa situação. Adote, cuide ou ajude instituições que acolhem esses gatos abandonados. Eles merecem uma chance de viver com dignidade e amor. O abandono felino é um problema nosso, e juntos podemos fazer a diferença!
            </p>
            <p>
              <span class="address">Rua Braz leviano, 93, ES </span>
              <span class="date">10/10/2024</span>
            </p>
            <a href="/visualizarprojeto" class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
              style="color:white; background-color:#2E331C;">Ver projeto</a>
            <p class="text-center pt-3" style="color: #A3A651; font-size: 15px;"><i
                class="bi bi-person-fill people-icon"></i> 10/10</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <button class="carousel-control-prev" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div><br>
<div class="image-container d-flex">
  <img src="/static/img/homepageCriarProjeto.png" alt="Imagem de fundo">
  {% if (usuario.perfil == 1 or usuario.perfil == 2 or usuario.perfil == 3): %}
  <div class="centered-content">
    <h1 class="mb-5">Crie seu próprio projeto!</h1>
    
    <a href="/voluntario/criarprojeto" class="rounded-2 fs-5" style="background-color: #7b7e45; color:white;">Criar Projeto</a>
  </div>
  {% else %}
  <div class="centered-content">
    <h1 class="mb-5">Crie seu próprio projeto!</h1>
    
    <a href="/entrar" class="rounded-2 fs-5" style="background-color: #7b7e45; color:white;">Criar Projeto</a>
  </div>
  {% endif %}
</div>

<h1 id="titulo1">Avaliações recentes de projetos</h1>
<div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper">
        <div class="card-avaliacao">
          <div class="card-body">
            <div class="text-center">
              <img src="/static/img/bolsonaroL.png" class="rounded-circle img-fluid mt-3" alt="..."
                style="width: 125px; height:125px;">
            </div>
            <h6 class="card-subtitle text-center mt-3">MitoFazoL</h6>

            <div class="star-rating  text-center justify-content-between">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star"></i>
            </div>

            <p class="card-text text-center">O projeto "Verde para o Futuro" tem sido uma iniciativa impressionante em promover a sustentabilidade e a preservação ambiental em nossa comunidade. As atividades de reflorestamento, aliadas à educação ambiental nas escolas, têm gerado um impacto positivo e visível na conscientização local. A organização tem sido eficiente, e a execução das atividades demonstra um planejamento cuidadoso.</p>
            {% if (usuario.perfil == 1 or usuario.perfil == 2 or usuario.perfil == 3): %}
            <a href="voluntario/avaliacoes" class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
              style="color:white; background-color:#7d8d45;">Ver avaliação</a>
            {% else %}
            <button class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
              style="color:white; background-color:#b7b9b2;" title="Para acessar essa página é necessário estar logado!">Ver avaliação</button>
              {% endif %}
            <p class="text-center pt-2" style="color: #A3A651; font-size: 15px;"> 19/02/2024</p>
          </div>
        </div>
        <div class="card-avaliacao d-none d-md-block">
          <div class="text-center">
            <img src="/static/img/brunohenrique.png" class="rounded-circle img-fluid mt-3" alt="..."
              style="width: 125px; height:125px;">
          </div>
          <h6 class="card-subtitle text-center mt-3">Bruninho</h6>
          <div class="star-rating  text-center justify-content-between">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
          <div class="card-body">
            <p class="card-text text-center">O projeto "Mãos à Obra" tem sido um verdadeiro exemplo de transformação e engajamento comunitário. Desde sua implementação, a iniciativa tem promovido a inclusão social e o desenvolvimento de habilidades em jovens da nossa comunidade, oferecendo oficinas práticas e cursos de capacitação.</p>
            {% if (usuario.perfil == 1 or usuario.perfil == 2 or usuario.perfil == 3): %}
            <a href="voluntario/avaliacoes" class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
              style="color:white; background-color:#7d8d45;">Ver avaliação</a>
            {% else %}
            <button class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
              style="color:white; background-color:#b7b9b2;" title="Para acessar essa página é necessário estar logado!">Ver avaliação</button>
              {% endif %}
            <p class="text-center pt-2" style="color: #A3A651; font-size: 15px;"> 19/02/2024</p>
          </div>
        </div>
        <div class="card-avaliacao d-none d-md-block">
          <div class="text-center">
            <img src="/static/img/elon musk.png" class="rounded-circle img-fluid mt-3" alt="..."
              style="width: 125px; height:125px;">
          </div>
          <h6 class="card-subtitle text-center mt-3">BranqueloAmericano</h6>

          <div class="star-rating  text-center justify-content-between">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star"></i>
              <i class="bi bi-star"></i>
              <i class="bi bi-star"></i>
              <i class="bi bi-star"></i>
            </div>
          <div class="card-body">
            <p class="card-text text-center">O projeto "Florestas Vivas" tem se mostrado uma iniciativa fundamental na preservação e recuperação de áreas florestais degradadas. Desde o seu início, o projeto tem promovido o plantio de árvores nativas e a conscientização sobre a importância da biodiversidade.</p>
              {% if (usuario.perfil == 1 or usuario.perfil == 2 or usuario.perfil == 3): %}
              <a href="voluntario/avaliacoes" class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
                style="color:white; background-color:#7d8d45;">Ver avaliação</a>
              {% else %}
              <button class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
                style="color:white; background-color:#b7b9b2;" title="Para acessar essa página é necessário estar logado!">Ver avaliação</button>
                {% endif %}
            <p class="text-center pt-2" style="color: #A3A651; font-size: 15px;"> 19/02/2024</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card-avaliacao">
          <div class="text-center">
            <img src="/static/img/lula.png" class="rounded-circle img-fluid mt-3" alt="..."
              style="width: 125px; height:125px;">
          </div>
          <h6 class="card-subtitle text-center mt-3">TaxinhaDoAmor</h6>

          <div class="star-rating  text-center justify-content-between">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
          <div class="card-body">
            <p class="card-text text-center">O projeto "Guardião da Fauna" é uma iniciativa exemplar voltada para a proteção de espécies animais ameaçadas e a recuperação de habitats naturais. Desde seu início, o projeto tem desenvolvido ações estratégicas para proteger a fauna local e educar a população sobre a importância da conservação.</p>
            {% if (usuario.perfil == 1 or usuario.perfil == 2 or usuario.perfil == 3): %}
            <a href="voluntario/avaliacoes" class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
              style="color:white; background-color:#7d8d45;">Ver avaliação</a>
            {% else %}
            <button class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
              style="color:white; background-color:#b7b9b2;" title="Para acessar essa página é necessário estar logado!">Ver avaliação</button>
              {% endif %}
            <p class="text-center pt-2" style="color: #A3A651; font-size: 15px;"> 19/02/2024</p>
          </div>
        </div>
        <div class="card-avaliacao d-none d-md-block">
          <div class="text-center">
            <img src="/static/img/schayder.png" class="rounded-circle img-fluid mt-3" alt="..."
              style="width: 125px; height:125px;">
          </div>
          <h6 class="card-subtitle text-center mt-3">Velhinho Carismatico</h6>

          <div class="star-rating  text-center justify-content-between">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
          <div class="card-body">
            <p class="card-text text-center">O projeto "Caminhos da Flora" é uma iniciativa notável dedicada à preservação da flora nativa e à promoção do uso sustentável das plantas locais. Desde seu lançamento, o projeto tem conseguido integrar a conservação ambiental com a educação e o desenvolvimento comunitário.</p>
            {% if (usuario.perfil == 1 or usuario.perfil == 2 or usuario.perfil == 3): %}
            <a href="voluntario/avaliacoes" class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
              style="color:white; background-color:#7d8d45;">Ver avaliação</a>
            {% else %}
            <button class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
              style="color:white; background-color:#b7b9b2;" title="Para acessar essa página é necessário estar logado!">Ver avaliação</button>
              {% endif %}
            <p class="text-center pt-2" style="color: #A3A651; font-size: 15px;"> 19/02/2024</p>
          </div>
        </div>
        <div class="card-avaliacao d-none d-md-block">
          <div class="text-center">
            <img src="/static/img/ricardo.png" class="rounded-circle img-fluid mt-3" alt="..."
              style="width: 125px; height:125px;">
          </div>
          <h6 class="card-subtitle text-center mt-3">AcessaMeuLinkedn</h6>

          <div class="star-rating  text-center justify-content-between">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star"></i>
              <i class="bi bi-star"></i>
            </div>
          <div class="card-body">
            <p class="card-text text-center">O projeto "Refúgio Verde" é uma iniciativa excepcional focada na proteção e conservação de habitats naturais, visando criar santuários para a fauna e flora locais. Desde sua criação, o projeto tem promovido uma abordagem holística para a preservação ambiental, beneficiando tanto a biodiversidade quanto a comunidade.</p>
            {% if (usuario.perfil == 1 or usuario.perfil == 2 or usuario.perfil == 3): %}
            <a href="voluntario/avaliacoes" class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
              style="color:white; background-color:#7d8d45;">Ver avaliação</a>
            {% else %}
            <button class="btn fw-semibold d-grid gap-2 col-6 mx-auto"
              style="color:white; background-color:#b7b9b2;" title="Para acessar essa página é necessário estar logado!">Ver avaliação</button>
              {% endif %}
            <p class="text-center pt-2" style="color: #A3A651; font-size: 15px;"> 19/02/2024</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" data-bs-target="#carouselExampleControls3" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" data-bs-target="#carouselExampleControls3" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>
{% endblock %}
  