{% extends "pages/base_fundo_patrocinador.html" %}
{% block subtitulo %}Patrocinadores{% endblock %}
{% block conteudo %}

<style>
    .nossos_patrocinadores{
          font-size: 36px;
          color: #2E331C;
          font-family: 'lato';
          font-weight: bold;
          text-align: center;
          padding: auto;
          left: auto;
          right: auto;
          height: 50px;
          
      }
    hr {
        border: none;
        height: 1.3px; 
        background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        margin: 20px 0; 
        color: #000;
        opacity: 100%;
    }
    .MODALIDADES{
         color: black;
          font-family: 'lato';
          font-weight: bold;
          text-align: center;
          padding: auto;
          left: auto;
          right: auto;
          height: 30px;
          font-size: 26px;
          color: #2E331C;
          
    }
    .medalha{
        height: 50px;
        width: 50px;
        margin: 0 auto;
        justify-content: center;             
    }
    .imagempatrocinador img {
        height: 40px;
        width: 70px;
        margin: 10px;
        display: inline-block;
    }
    
</style>
<div class="green-rectangle rounded mt-5 mx-auto"></div>
<br><br><br>
<h3 class="nossos_patrocinadores">Nossos Patrocinadores</h3>
<hr>
<p class="MODALIDADES">MODALIDADE OURO</p>
<div  class="medalha">
<img class="medalha" src="/static/img/gold-medal.png" alt="goldmedal">
</div>
<div class="imagempatrocinador">
    {% for i in range(130) %}
        <img src="/static/img/NIKE MARCA.jfif" alt="marca patrocinadora">
    {% endfor %}
</div>

<hr>
<p class="MODALIDADES">MODALIDADE PRATA</p>
<div  class="medalha">
<img class="medalha" src="/static/img/silver-medal.png" alt="silvermedal">
</div>
<div class="imagempatrocinador">
    {% for i in range(130) %}
        <img src="/static/img/NIKE MARCA.jfif" alt="marca patrocinadora">
    {% endfor %}
</div>
<hr>
<p class="MODALIDADES">MODALIDADE BRONZE</p>
<div  class="medalha">
<img class="medalha" src="/static/img/bronze-medal.png" alt="bronzemedal">
</div>
<div class="imagempatrocinador">
    {% for i in range(130) %}
        <img src="/static/img/NIKE MARCA.jfif" alt="marca patrocinadora">
    {% endfor %}
</div>
<br><br>


{% endblock %}