{% extends "pages/base_fundo.html" %}
{% block subtitulo %}Patrocinadores{% endblock %}
{% block conteudo %}

<style>
    .nossos_patrocinadores{
          font-size: 36px;
          color: #2E331C;
          text-align: center;
          padding: auto;
          left: auto;
          right: auto;
          height: 50px;
          
      }
    hr {
        border: none;
        height: 1.3px; 
        background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        margin: 20px 0; 
        color: #000;
        opacity: 100%;
    }
    .MODALIDADES{
         color: black;
          text-align: center;
          padding: auto;
          left: auto;
          right: auto;
          height: 30px;
          font-size: 26px;
          color: #2E331C;
          
    }
    .medalha{
        height: 50px;
        width: 50px;
        margin: 0 auto;
        justify-content: center;             
    }
    .imagempatrocinador img {
        height: 40px;
        width: 70px;
        margin: 10px;
        display: inline-block;
        
    }
    div.bg-header {
        background-image: url('/static/img/imgnovapatroci.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;  
      }
      .sejapatroci {
        margin-top: 10cm;
        margin-left: 2cm;
        color: white;
    
    }
    .linha-vertical {
        width: 3px;
        /* Largura da linha vertical */
        height: 140px;
        /* Altura da linha vertical */
        background-color: #AEB073;
        opacity: 100%;
    
    }
    .linha-vertical-container {
        display: flex;
        align-items: center;
        /* Alinha verticalmente no centro */
        margin-left: 2cm;
        /* Centraliza horizontalmente no contêiner */
        height: 10;
        /* Altura total da viewport para centralização vertical */
        position: relative;
    }
    .linha-vertical-container>h3 {
        color: white
        
    }
</style>

<div class="bg-header"> 
        <h1 class="sejapatroci" style="background-color: #2e331c4d;">Seja um patrocinador voluntariÊ</h1>
        <div class="linha-vertical-container">
            <div class="linha-vertical"></div>
            <h3 class="ps-3" style="background-color: #2e331c4d;">Torne-se um colaborador doando para projetos. Com isso você irá <br>contribuir para um futuro melhor e será reconhecido pelo site.</h3><br>
        </div>
    <a href="#" class="btn fw-semibold d-grid col-2 saiba_mais" style="color:white; background-color:#A3A651;">saiba mais</a>
</div>
<div class="min-vh-100"></div>
<div class="green-rectangle rounded mt-5 mx-auto"></div>
<br><br><br>
<h3 class="nossos_patrocinadores">Nossos Patrocinadores</h3>
<hr>
<p class="MODALIDADES">MODALIDADE OURO</p>
<div  class="medalha">
<img class="medalha" src="/static/img/gold-medal.png" alt="goldmedal">
</div>
<div class="imagempatrocinador">
    {% for i in range(130) %}
        <img src="/static/img/NIKE MARCA.jfif" alt="marca patrocinadora">
    {% endfor %}
</div>

<hr>
<p class="MODALIDADES">MODALIDADE PRATA</p>
<div  class="medalha">
<img class="medalha" src="/static/img/silver-medal.png" alt="silvermedal">
</div>
<div class="imagempatrocinador">
    {% for i in range(130) %}
        <img src="/static/img/NIKE MARCA.jfif" alt="marca patrocinadora">
    {% endfor %}
</div>
<hr>
<p class="MODALIDADES">MODALIDADE BRONZE</p>
<div  class="medalha">
<img class="medalha" src="/static/img/bronze-medal.png" alt="bronzemedal">
</div>
<div class="imagempatrocinador">
    {% for i in range(130) %}
        <img src="/static/img/NIKE MARCA.jfif" alt="marca patrocinadora">
    {% endfor %}
</div>
<br><br>


{% endblock %}