{% extends "pages/base_fundo_patrocinador.html" %}
{% block subtitulo %}Principal{% endblock %}
{% block conteudo %}

<style>
    .nossos_patrocinadores{
          font-size: 25px;
          color: black;
          font-family: 'lato';
          font-weight: bold;
          text-align: center;
          padding: auto;
          left: auto;
          right: auto;
          height: 50px;
          width: ;
      }
    hr{
        color: #000;
        opacity: 100%;
    }
    .MODALIDADES{
         color: black;
          font-family: 'lato';
          font-weight: bold;
          text-align: center;
          padding: auto;
          left: auto;
          right: auto;
          height: 30px;
          
    }
    .medalha{
        height: 50px;
        width: 50px;
        margin: 0 auto;
        justify-content: center;
             
    }
</style>
<div class="green-rectangle rounded mt-5 mx-auto"></div>
<br><br><br>
<h3 class="nossos_patrocinadores">Nossos Patrocinadores</h3>
<hr>
<p class="MODALIDADES">MODALIDADE OURO</p>
<div  class="medalha">
<img class="medalha" src="/static/img/gold-medal.png" alt="">
</div>
<hr>
<p class="MODALIDADES">MODALIDADE PRATA</p>
<div  class="medalha">
<img class="medalha" src="/static/img/silver-medal.png" alt="">
</div>
<hr>
<p class="MODALIDADES">MODALIDADE BRONZE</p>
<div  class="medalha">
<img class="medalha" src="/static/img/bronze-medal.png" alt="">
</div>

{% endblock %}