
{% extends "pages/base.html" %}

{% block subtitulo %}Entrar{% endblock %}
{% block conteudo %}

<style>
    
</style>
<div class="container mt-5 pt-5">

    <div class="line g-2">
        <div class="col-6">
            <div class="p-1">
                <h4>Minha Conta</h4>
            </div>
          </div>
      <div class="col-6">
        <div class="p-1">
            <a href="meuPerfil" class="link-dark">Meu Perfil</a>
        </div>
      </div>
      <div class="col-6">
        <div class="p-1"> 
            <a href="projetosIngressados" class="link-dark">Projetos Ingressados</a>
        </div>
      </div>
      <div class="col-6">
        <div class="p-1">
            <a href="projetosCriados" class="link-dark">Projetos Criados</a>
        </div>
      </div>
      <div class="col-6">
        <div class="p-1">
            <a href="projetosFinalizados" class="link-dark">Projetos Finalizados</a>
        </div>
      </div>
      <div class="col-6">
        <div class="p-1">
            <a href="doacoes" class="link-dark">Doações</a>
        </div>
      </div>
      <div class="col-6">
        <div class="p-1">
            <a href="solicitarExclusao" class="link-dark">Solicitar exclusão de conta</a>
        </div>
      </div>
      <div class="col-6">
        <div class="p-1">
            <a href="notificao" class="link-dark">Notificações</a>
        </div>
      </div>
      <div class="col-6">
        <div class="p-1">
            <a href="alterarSenha" class="link-dark">Alterar Senha</a>
        </div>
      </div>
      <div class="col-6">
        <div class="p-1">
            <a href="assinatura" class="link-dark">Assinatura</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

    
    
    
    