{% extends "pages/base.html" %}

{% block subtitulo %}Confirmação pagamento mensal{% endblock %}
{% block conteudo %}
    <style>
        .container-pagamento {
            background-color: #f8f8f8;
            padding: 30px;
            border-radius: 10px;
            width: 400px;
            margin: 0 auto;
            text-align: center;
        }

        .details {
            text-align: left;
            color: #90947d;
            margin-bottom: 20px;
        }

        .details span {
            font-weight: bold;
        }

        .terms {
            font-size: 12px;
            color: #7a7a7a;
            text-align: left;
        }

        .botao-verde {
            background-color: #aeb073;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            width: 60%; 
        }
        
        .botao-verde:hover {
            background-color: #8f9657;
        }
        
        
    </style>


    <div class="container text-center">
        <img src="/static/img/logo/logoverde.png" alt="VOLUNTÁRIE" width="240px" style="padding: 50px;">
    </div>


    <div class="container-pagamento">
        <h2 style="color: #727760; border-bottom: 1px solid #d3d6c8; padding-bottom: 20px;";>Finalizar Pagamento</h2>
        <div class="details">
            <p><span>Tipo da Assinatura:</span> Mensal</p>
            <p><span>Valor:</span> R$15,00</p>
            <p><span>Forma de Pagamento:</span> Cartão de Crédito</p>
            <p><span>Dígitos finais do cartão:</span> ****</p>
        </div>
        <p class="terms">
            <input type="checkbox" id="terms">
            Ao realizar a Assinatura, você concorda integralmente com os termos de uso.
        </p>
        

        <button class="botao-verde" type="submit">Confirmar</button>
    </div>

{% endblock %}
