{% extends "pages/base.html" %}
{% from "macros.html" import input_text, input_date, input_textarea, input_email, input_password, input_select, input_number%}
{% block subtitulo %}Criar Projeto{% endblock %}
{% block conteudo %}

<style>
    .botao-verde {
        --bs-btn-bg: #aeb073;
    }
    .link-verde {
        color: #aeb073;
    }
    .link-verde:hover {
        color: #d1d39a;
    }
    .custom-container {
        max-width: 700px; /* Ajuste a largura conforme necessário */
        margin: 0 auto; /* Centraliza o container horizontalmente */
    }
</style>

<main class="container pt-5 mb-3 custom-container">
    <div class="row">
        <div class="bg-light rounded">
            <div class="container text-center">
                <p class="fs-2 pt-3 fw-semibold" style="color: #53533a;">Criação de Projeto</p>
                <img id="previewImage" src="/static/img/reflorestamento.jpeg" class="img-fluid mt-2" alt="..." style="width: 350px; height:200px; border-radius: 10px;">
            </div>
            <div class="w-75" style="margin-left:70px;">
                <div class="input-group mb-3 mx-auto mt-5">
                    <input type="file" class="form-control" id="inputGroupFile02" onchange="previewFile()">
                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                </div>
                

                    {{ input_text("nome", 
                    "Título do Projeto", 
                    "required autofocus",
                    div_classes="rounded p-2 w-100 mb-3'"
                    ) }}
                
                    {{ input_number(
                        'qtdvoluntarios', 
                        'Quantidade de Voluntários', 
                        min='0', 
                        max='20', 
                        attributes='required oninput="limitValue(this, 20)"', 
                        div_classes='rounded p-2 w-100 mb-3'
                    ) }}
                    
                    {{ input_select(
                        'estado', 
                        'Selecione o Estado', 
                        options=[], 
                        attributes='onchange="carregarMunicipios()" required', 
                        div_classes='rounded p-2 w-100 mb-3'
                    ) }}
                
                    {{ input_select(
                        'cidade', 
                        'Município:', 
                        options=[], 
                        attributes='required', 
                        div_classes='rounded p-2 w-100 mb-3'
                    ) }}
                
                    {{ input_text(
                        'endereco', 
                        'Endereço do Projeto', 
                        attributes='required placeholder="Ex: Rua Evanilda Lima Soares"', 
                        div_classes=' rounded p-2 w-100 mb-3'
                    ) }}
                

                
                    {{ input_date(
                        'dtinicio', 
                        'Data de Início do Projeto', 
                        attributes='required', 
                        div_classes=' rounded p-2 w-100 mb-3'
                    ) }}
                

                
                    {{ input_date(
                        'dttermino', 
                        'Data de Previsão do Término do Projeto', 
                        attributes='required', 
                        div_classes=' rounded p-2 w-100 mb-3'
                    ) }}
                

                
                    {{ input_number(
                        'meta', 
                        'Meta a ser atingida através das doações', 
                        min='0', 
                        attributes='required placeholder="Escreva apenas o número"', 
                        div_classes=' rounded p-2 w-100 mb-3'
                    ) }}
                
                    
                
                    {{ input_textarea(
                        'descricao', 
                        'Descrição do Projeto', 
                        attributes='required placeholder="Escreva do que se trata o projeto"', 
                        div_classes=' rounded p-2 w-100 mb-3'
                    ) }}
                

{#
                <label class="text-secondary">Título do Projeto:</label>
                <div>
                    <input class="border border-1 rounded p-2 w-100 mb-3" id="titulo" name="titulo" placeholder="Ex: Projeto do Gugu Gaiteiro" required>
                </div>
                <label class="text-secondary">Quantidade de Voluntários:</label>
                <div>
                    <input class="border border-1 rounded p-2 w-100 mb-3" type="number" min="0" max="20" id="qtdvoluntarios" name="qtdvoluntarios" placeholder="Ex: 5" required>
                </div>

                <label class="text-secondary" for="estado">Estado:</label>
                <div>
                <select class="border border-1 rounded p-2 w-100 mb-3" id="estado" onchange="carregarMunicipios()"required>
                    <option value="">Selecione o Estado</option>
                </select>
                </div>
                
                <label class="text-secondary" for="cidade">Município:</label>
                <div>
                <select class="border border-1 rounded p-2 w-100 mb-3" id="cidade"required>
                    <option value="">Selecione o Município</option>
                </select>
                </div>

                <label class="text-secondary">Endereço do Projeto:</label>
                <div>
                    <input class="border border-1 rounded p-2 w-100 mb-3" id="endereco" name="endereco" placeholder=" Ex: Rua Evanilda Lima Soares" required>
                </div>

                <label class="text-secondary">Data de Início do Projeto:</label>
                <div>
                    <input class="border border-1 rounded p-2 w-100 mb-3" type="date" id="dtinicio" name="dtinicio" required>
                </div>

                <label class="text-secondary">Data de Previsão do Término do Projeto:</label>
                <div>
                    <input class="border border-1 rounded p-2 w-100 mb-3" id="dttermino" type="date" name="dttermino" required>
                </div>

                <label class="text-secondary">Meta a ser atingida através das doações:</label>
                <div>
                    <input class="currency-input border border-1 rounded p-2 w-100 mb-3" id="meta" type="number" min="0" name="meta" placeholder="Escreva apenas o número" required><br>
                </div>

                <label class="text-secondary">Descrição do Projeto:</label>
                <div>
                    <textarea class="border border-1 rounded p-2 w-100 mb-3" id="descricao" name="descricao" placeholder="Escreva do que se trata o projeto" required></textarea>
                </div>
            </div>#}
                <div class="text-center">
                    <button class="btn btn-secondary mb-3 border p-2 botao-verde w-50" type="submit">Criar Projeto</button>
                </div>
        </div>
    </div>
    </main>
    <script>

        src="/static/js/mascararCampos.js"

            function limitValue(input, max) {
                if (parseInt(input.value) > max) {
                    input.value = max;
                }
            }
        
        async function carregarEstados() {
            const response = await fetch('https://servicodados.ibge.gov.br/api/v1/localidades/estados/');
            const estados = await response.json();

            const estadoSelect = document.getElementById("estado");

            estados.forEach(estado => {
                const option = document.createElement("option");
                option.value = estado.sigla; // Usa a sigla do estado como valor
                option.text = estado.nome; // Nome do estado para exibir
                estadoSelect.add(option);
            });
        }

        async function carregarMunicipios() {
            const estadoSelecionado = document.getElementById("estado").value;

            if (estadoSelecionado) {
                const response = await fetch(`https://servicodados.ibge.gov.br/api/v1/localidades/estados/${estadoSelecionado}/municipios`);
                const municipios = await response.json();

                const municipioSelect = document.getElementById("cidade");
                municipioSelect.innerHTML = ""; // Limpa as cidades anteriores

                municipios.forEach(municipio => {
                    const option = document.createElement("option");
                    option.value = municipio.id; // Usando o ID do município
                    option.text = municipio.nome; // Nome do município para exibir
                    municipioSelect.add(option);
                });
            }
        }

        function previewFile() {
            const file = document.getElementById('inputGroupFile02').files[0];
            const preview = document.getElementById('previewImage');
            const reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result; // Atualiza a imagem com o novo arquivo
            }

            if (file) {
                reader.readAsDataURL(file); // Lê o arquivo como uma URL de dados
            } else {
                preview.src = "/static/img/reflorestamento.jpeg"; // Reseta para a imagem padrão, se nenhum arquivo for selecionado
            }
        }

        window.onload = () => {
            carregarEstados(); // Carrega os estados ao iniciar a página
        };


    </script>

{% endblock %}
