{% extends "pages/base.html" %}

{% block subtitulo %}Dados do Cartão{% endblock %}
{% block conteudo %}



<style>
    .botao-verde {
        --bs-btn-bg: #aeb073;
    }

    .part {
        text-align: center; /* Centraliza o texto dentro das partes */
        margin: 0 50px; /* Espaçamento entre as partes */
    }
</style>
    
    <div class="container my-5">
        <div class="row">
            <div class="mt-2 text-center pb-5">
                <img src="/static/img/logo/logopreta.png" alt="" width="150px">
            </div>
            
            
                <div class="mt-5 container-flex col-5">
                    <div class="part">
                        <div class="text-secondary fw-semibold" style="font-size: 20px;">
                            Parabéns! Você acabou de realizar uma doação para o Projeto "Nome do Projeto"<br>
                        </div>
                        <p class="text-secondary small">A equipe VoluntariÊ agradece.</p>
                        <div class="mt-3">
                            <a href="projetos.html" class="botao-verde btn btn-secondary border p-2 botao-verde">Voltar aos Projetos</a>
                        </div>
                    </div>
                </div>
             <div class="col-lg-2">
    
            </div>
            <div class="mt-5 col-4">
                <div class="part">
                <div class="text-secondary fw-semibold" style="font-size: 20px;">
                    Deseja realizar uma nova doação para esse projeto?<br>
                </div>
                <p class="text-secondary small">Clique no botão abaixo</p>
                <div class="mt-3">
                    <a href="projetos.html" class="botao-verde btn btn-secondary border p-2 botao-verde">Nova Doação</a>
                </div>
                </div>
            </div>
    

{% endblock %}
