{% extends "pages/base.html" %}

{% block subtitulo %}Perfil{% endblock %}
{% block conteudo %}

<style>
    .container-options {
        width: 270px;
        margin-top: 80px;
        background-color: #ffffff; 
    }
    .container-forms {
        margin-top: 40px;
        background-color: #2e331c07;
    }
    .botao-verde{
        --bs-btn-bg: #aeb073;
    }
    .person{
      color: #aeb073;
    }
    .link-ativo {
      color: #aeb073 !important; 
    }
    .form-label{
        text-align: left;
        font-weight: 500;
        display: block;
        margin-bottom: .5rem;
    }
    
    /* Estilo para a imagem de perfil */
    .profile-pic-wrapper {
        position: relative;
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }

    .profile-pic-wrapper img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        background-color: white;
    }

    /* Estilo para o ícone de lápis */
    .edit-icon {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px;
        border-radius: 100px;
        cursor: pointer;
        display: none;
        width: 20%;
    }

    /* Exibir o ícone quando o mouse estiver sobre a imagem */
    .profile-pic-wrapper:hover .edit-icon {
        display: block;
    }

    /* Ocultar input de upload padrão */
    #fileInput {
        display: none;
    }
</style>
{% set usuario = request.state.usuario %}
<div class="container my-3 ">
    <div class="row">
        {% include "includes/menuVoluntario.html" %}
        <div class="col-md-6">
            <div class="container-forms p-3 rounded">
                <div class="d-flex justify-content-between ms-4" style="font-size: 30px;">
                    Meu Perfil
                    <p class="mt-2 me-4" style="font-size: 15px; color:#aeb073;">Saldo doação: R$00,00</p>
                </div>
                <div class="profile-pic-wrapper text-center">
                    <img src="/static/img/quemSomos.png" alt="..." class="rounded-circle img-fluid">
                    <span class="edit-icon" onclick="document.getElementById('fileInput').click();">
                        <i class="bi bi-pencil-fill"></i> <!-- Ícone de lápis do Bootstrap Icons -->
                    </span>
                </div><br>

                <input type="file" id="fileInput" accept="image/*">

                <form action="/formulario_enviado" method="post">
                    <div class="w-75 text-center mt-3 container">
                        <div class="text-start mb-3">
                            <label for="nome" class="form-label">Nome:</label>
                            <input class="border border-1 rounded p-2 mb-3 w-100" id="nome" name="nome" placeholder="{{usuario.nome}}">
                        </div>
                        <div class="text-start mb-3">
                            <label for="telefone" class="form-label">telefone:</label>
                            <input class="border border-1 rounded p-2 mb-3 w-100" id="telefone" name="telefone" placeholder="{{usuario.telefone}}"><br>
                        </div>
                        <div>
                            <button class="btn btn-secondary mt-3 border botao-verde" type="submit">Gravar</button>
                        </div>
                    </div>
                </form>
            </div>
            <a href="solicitarmoderacao" class="text-dark d-flex justify-content-center">Quero ser moderador</a>
        </div>
    </div>
</div>

<script>
    // Ao selecionar um arquivo, exibir a pré-visualização da imagem
    document.getElementById('fileInput').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.querySelector('.profile-pic-wrapper img').src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });
</script>

{% endblock %}
