{% extends "pages/base.html" %}

{% block subtitulo %}Projetos Finalizados{% endblock %}
{% block conteudo %}

<style>
    .container-custom {
      background-color: #f8f8f8;
      border-radius: 15px;
    }
    .project-end {
      margin-top: 30px;
      text-align: center;
      color: #888;
    }

</style>

<div class="container container-custom d-flex flex-column align-items-center mt-3 mb-3 py-3 w-75">
    <h3 class="text-center mb-4">Projetos Finalizados</h3><hr>

    <!-- Projeto 1 -->
    <div class="card mb-3" style="max-width: 680px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/static/img/cachorrodesnutrido.png" class="img-fluid rounded-start h-100" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="justify-content-between d-flex">
            <h5 class="card-title">Resgate de Animais Abandonados</h5>
            </div>
            
            <div class="d-flex justify-content-between mt-2">
              <p class="card-text"style="color: #888; font-size:14px;">Início: 15/04/2024</p>
            <p class="card-text"style="color: #888; font-size:14px;">Término: 30/06/2024</p>
          </div>
          <div class="d-flex justify-content-between">
          <div class="card-text" style="color: #888; font-size:14px;">Localização: São Paulo, SP</div>
          <p style="color: rgb(139, 160, 62); font-size:14px;"> Nº de Inscrições: 4/10</p>

        </div>
        <div class="justify-content-between d-flex">
          <p></p>
          <a href="avaliacoes" class="btn mb-2 rounded-3" style="background-color: #888855; color:#ffffff;"> Avaliar Projeto</a>
          </div>            
          </div>
        </div>
      </div>
    </div><hr>

     <!-- Projeto 2 -->
    <div class="card mb-3" style="max-width: 680px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/static/img/gatoabandonado.png" class="img-fluid rounded-start h-100" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="justify-content-between d-flex">
            <h5 class="card-title">Ajuda a Gatos de Rua</h5>
            </div>
            
            <div class="d-flex justify-content-between mt-2">
              <p class="card-text"style="color: #888; font-size:14px;">Início: 05/05/2024</p>
              <p class="card-text"style="color: #888; font-size:14px;">Término: 15/07/2024</p>
            </div>
            <div class="d-flex justify-content-between">
              <div class="card-text" style="color: #888; font-size:14px;">Localização: Belo Horizonte, MG</div>
              <p style="color: rgb(139, 160, 62); font-size:14px;"> Nº de Inscrições: 5/12</p>
            </div>
            <div class="justify-content-between d-flex">
              <p></p>
              <a href="avaliacoes" class="btn mb-2 rounded-3" style="background-color: #888855; color:#ffffff;"> Avaliar Projeto</a>
              </div>
          </div>
        </div>
      </div>
    </div><hr>

    <!-- Projeto 3 -->
    <div class="card mb-3" style="max-width: 680px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/static/img/tartaruga.png" class="img-fluid rounded-start h-100" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="justify-content-between d-flex">
            <h5 class="card-title">Proteção de Tartarugas Marinhas</h5>
            </div>
            
            <div class="d-flex justify-content-between mt-2">
              <p class="card-text"style="color: #888; font-size:14px;">Início: 01/06/2024</p>
              <p class="card-text"style="color: #888; font-size:14px;">Término: 31/08/2024</p>
            </div>
            <div class="d-flex justify-content-between">
              <div class="card-text" style="color: #888; font-size:14px;">Localização: Salvador, BA</div>
              <p style="color: rgb(139, 160, 62); font-size:14px;"> Nº de Inscrições: 6/15</p>
            </div>
            <div class="justify-content-between d-flex">
              <p></p>
              <a href="avaliacoes" class="btn mb-2 rounded-3" style="background-color: #888855; color:#ffffff;"> Avaliar Projeto</a>
              </div>
          </div>
        </div>
      </div>
    </div><hr>

    <!-- Projeto 4 -->
    <div class="card mb-3" style="max-width: 680px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/static/img/limpezafloresta.png" class="img-fluid rounded-start h-100" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="justify-content-between d-flex">
            <h5 class="card-title">Limpeza de Florestas</h5>
            </div>
            
            <div class="d-flex justify-content-between mt-2">
              <p class="card-text"style="color: #888; font-size:14px;">Início: 10/07/2024</p>
              <p class="card-text"style="color: #888; font-size:14px;">Término: 30/09/2024</p>
            </div>
            <div class="d-flex justify-content-between">
              <div class="card-text" style="color: #888; font-size:14px;">Localização: Manaus, AM</div>
              <p style="color: rgb(139, 160, 62); font-size:14px;"> Nº de Inscrições: 8/20</p>
            </div>
            <div class="justify-content-between d-flex">
            <p></p>
            <a href="avaliacoes" class="btn mb-2 rounded-3" style="background-color: #888855; color:#ffffff;"> Avaliar Projeto</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p class="project-end">Você não possui mais projetos</p>
</div>

{% endblock %}
