{% extends "pages/base.html" %}
{% block subtitulo %}termos{% endblock %}
{% block conteudo %}

    <style>
        .containerajuda {
            width: auto;
            height: auto;
            background-color: rgba(174, 176, 115, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .containerajuda img {
            max-width: 100%;
            max-height: 100%;
        }
        .titleajuda{
            font-size: 80px;
        }
    </style>
    <link rel="stylesheet" href="/static/css/estilos.css">


<div class="ajuda">
    <div class="containerajuda">
        <img src="/static/img/logo_voluntarie.png" alt="Descrição da imagem">
        <h1 class="titleajuda">Ajuda</h1>
    </div>
    <h1>Criar um projeto</h1>
    <h3>Como criar um projeto?</h3>
    <p>- Clique no botão "Criar Projeto" no menu principal.</p>
    <p>- Preencha o formulário com as informações do projeto, incluindo nome, descrição, localização, datas, e necessidades de voluntariado.</p>
    <p>- Adicione fotos e vídeos para ilustrar seu projeto.</p>
    <p>- Clique em "Enviar" para publicar seu projeto.
    </p>

    <h3>Quais são os requisitos para criar um projeto?</h3>
    <p>- Ter uma conta registrada no site.</p>
    <p>- Fornecer informações detalhadas e precisas sobre o projeto.</p>
    <p>- Garantir que o projeto esteja alinhado com as diretrizes e valores do site.</p>


    <h3>Como posso editar ou excluir meu projeto?</h3>
    <p>- Acesse a aba "Meus Projetos" no seu perfil.</p>
    <p>- Selecione o projeto que deseja editar ou excluir.</p>
    <p>- Clique em "Editar" para fazer alterações ou em "Excluir" para removê-lo.</p>

    <h1>Ingressar em projetos</h1>
    <h3>Como encontrar projetos para voluntariar?</h3>
    <p>- Navegue pela aba "Projetos" no menu principal.</p>
    <p>- Utilize os filtros para buscar projetos por localização, data, e necessidades específicas.</p>
    <p>- Clique em um projeto para ver mais detalhes.</p>



    <h3>Como se inscrever em um projeto?</h3>
    <p>- No detalhe do projeto, clique no botão "Ingressar".</p>
    <p>- Preencha as informações solicitadas e envie sua inscrição.</p>
    <p>- Aguarde a confirmação do responsável pelo projeto.</p>



    <h3>Como acompanhar minha inscrição?</h3>
    <p>- Acesse a aba "Minhas Inscrições" no seu perfil.</p>
    <p>- Veja o status das suas inscrições e comunique-se com os responsáveis pelos projetos.</p>


    <h1>Doar para projetos</h1>
    <h3>Como posso fazer uma doação?</h3>
    <p>- Encontre o projeto que deseja apoiar na aba "Projetos".</p>
    <p>- Clique no botão "Doar".</p>
    <p>- Escolha o valor da doação e o método de pagamento.</p>
    <p>- Complete o processo de pagamento para finalizar a doação.</p>



    <h3>As doações são seguras?</h3>
    <p>- Sim, utilizamos plataformas de pagamento seguras e criptografia para proteger suas informações.</p>
    
    
    
    <h1>conta e configurações</h1>
    <h3>Como crio uma conta?</h3>
    <p>- Clique no botão "Registrar" no menu principal.</p>
    <p>- Preencha o formulário com suas informações pessoais.</p>
    <p>- Confirme seu e-mail para ativar a conta.</p>



    <h3>Como recupero minha senha?</h3>
    <p>- Clique em "Esqueci minha senha" na página de login.</p>
    <p>- Siga as instruções enviadas para o seu e-mail para redefinir sua senha.</p>



    <h3>Como posso alterar minhas informações pessoais?</h3>
    <p>- Acesse a aba "Configurações" no seu perfil.</p>
    <p>- Edite suas informações e clique em "Salvar" para atualizar.</p>


    <h1>Suporte e Contato</h1>
    <h3>Como entro em contato com o suporte?</h3>
    <p>- Acesse a aba "Contato" no menu principal.</p>
    <p>- Preencha o formulário de contato ou envie um e-mail para <a href="mailto:suporte@exemplo.com">suporte@exemplo.com</a>.</p>
    <p>- Nosso time de suporte responderá o mais rápido possível.</p>


    <h3>Onde encontro respostas para outras dúvidas?</h3>
    <p>- Consulte nossa seção de <a href="/faq">FAQ</a> para respostas a perguntas frequentes.</p>
    <p>- Participe do nosso fórum de usuários para trocar experiências e dicas.</p>


</div>
<script>
    window.onload = function() {
        var element = document.querySelector('.termos-de-uso');
        var height = element.offsetHeight; // Obtém a altura atual
        element.style.height = (height + 100) + 'px'; // Adiciona 100px à altura atual
    };
</script>
{% endblock %}

