<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="/static/css/card.css">
    <title>Card</title>
</head>
<body>
    <div class="card">
        <div class="card-image"></div>
        <div class="card-content">
            <h1>Título do Projeto</h1>
            <p class="username">@nick</p>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="card-content d-flex">
                <!-- Restante do conteúdo do card -->
                <p class="contagem"><i class="bi bi-person-fill people-icon"></i> 8/10</p>
                <p> 
                    <span class="address">Rua Lorem Ipsum, 91, ES </span>
                    <span class="date">19/02/2024</span>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
