{% extends "pages/base.html" %}
{% block subtitulo %}Entrar{% endblock %}
{% block conteudo %}
<head>
    <style>
        .termos-de-uso {
            width: 1440px;
            height: 340px;
            background-color: rgba(174, 176, 115, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .termos-de-uso img {
            max-width: 100%;
            max-height: 100%;
        }
    </style>
    <link rel="stylesheet" href="/static/css/estilos.css">
</head>

<body class="Termo">
    <div class="termos-de-uso">
        <img src="/static/img/logo_voluntarie.png" alt="Descrição da imagem">
    </div>

    <p>Bem-vindo ao VoluntariÊ! Estamos felizes por você ter decidido contribuir para causas que beneficiam a sociedade. Para garantir que todos os usuários tenham uma experiência segura e positiva, estabelecemos os seguintes Termos de Uso. Ao acessar ou utilizar nosso site, você concorda em cumprir e estar vinculado a estes Termos de Uso.</p>

    <h1>1. Aceitação dos Termos</h1>
    <p>Ao acessar e utilizar o VoluntariÊ, você concorda com estes Termos de Uso e com nossa Política de Privacidade. Se você não concordar com qualquer parte destes termos, por favor, não utilize nosso site.</p>

    <h1>2. Modificações dos Termos</h1>
    <p>Reservamo-nos o direito de modificar estes Termos de Uso a qualquer momento. Notificaremos sobre quaisquer alterações significativas publicando os novos termos no site. Seu uso contínuo do site após tais modificações constituirá sua aceitação dos novos termos.</p>

    <h1>3. Registro e Conta do Usuário</h1>
    <p>Para utilizar certos recursos do VoluntariÊ, você pode ser solicitado a criar uma conta. Você concorda em fornecer informações precisas, completas e atualizadas durante o processo de registro e manter essas informações atualizadas. Você é responsável por manter a confidencialidade de sua conta e senha, e por todas as atividades que ocorram em sua conta.</p>

    <h1>4. Uso adequado do site</h1>
    <p>Você concorda em usar o VoluntariÊ somente para fins legais e de acordo com estes Termos de Uso. Você não deve:</p>
    <ul>
        <li>Usar o site de qualquer forma que viole qualquer lei ou regulamento local, estadual, nacional ou internacional aplicável.</li>
        <li>Usar o site para transmitir ou obter qualquer conteúdo que seja ilegal, prejudicial, ameaçador, abusivo, assediante, difamatório, vulgar, obsceno, fraudulento, invasivo da privacidade alheia ou censurável.</li>
        <li>Fazer upload, transmitir ou de outra forma disponibilizar qualquer material que contenha vírus ou qualquer outro código de computador, arquivos ou programas projetados para interromper, destruir ou limitar a funcionalidade de qualquer software ou hardware de computador.</li>
        <li>Interferir ou tentar interferir com o funcionamento adequado do site.</li>
    </ul>

    <h1>5. Conteúdo gerado pelo usuário</h1>
    <p>Você pode enviar, postar ou exibir conteúdo no VoluntariÊ, como comentários, fotos ou outros materiais. Ao enviar conteúdo ao site, você concede ao VoluntariÊ uma licença mundial, não exclusiva, livre de royalties, sublicenciável e transferível para usar, reproduzir, distribuir, preparar trabalhos derivados, exibir e executar tal conteúdo em conexão com a operação do site e de nossos negócios.</p>
    <p>Você declara e garante que possui todos os direitos necessários sobre o conteúdo que enviar e que tal conteúdo não infringirá os direitos de terceiros nem violará qualquer lei.</p>

    <h1>6. Termos específicos para voluntários</h1>
    <p>Como voluntário, você se compromete a:</p>
    <ul>
        <li>Agir de forma ética e respeitosa com todas as partes envolvidas.</li>
        <li>Cumprir com todas as diretrizes e instruções fornecidas pela organização para a qual está se voluntariando.</li>
        <li>Não se engajar em qualquer atividade que possa colocar você, outros voluntários ou beneficiários em risco de dano físico ou emocional.</li>
    </ul>

    <h1>7. Isenção de responsabilidade</h1>
    <p>O VoluntariÊ é fornecido "como está" e "conforme disponível". Não garantimos que o site estará disponível ininterruptamente ou livre de erros. Na medida máxima permitida pela lei aplicável, isentamo-nos de todas as garantias, expressas ou implícitas, em relação ao site, incluindo, sem limitação, garantias implícitas de comercialização, adequação a um propósito específico e não violação.</p>

    <h1>8. Limitação de responsabilidade</h1>
    <p>Em nenhum caso seremos responsáveis por quaisquer danos indiretos, incidentais, especiais, consequenciais ou punitivos, ou qualquer perda de lucros ou receitas, incorridos diretamente ou indiretamente, ou qualquer perda de dados, uso, goodwill, ou outras perdas intangíveis, resultantes de:</p>
    <ul>
        <li>Seu uso ou incapacidade de usar o site.</li>
        <li>Qualquer conduta ou conteúdo de qualquer terceiro no site.</li>
        <li>Qualquer conteúdo obtido do site.</li>
        <li>Acesso não autorizado, uso ou alteração de suas transmissões ou conteúdo.</li>
    </ul>

    <h1>9. Rescisão</h1>
    <p>Podemos rescindir ou suspender seu acesso ao VoluntariÊ imediatamente, sem aviso prévio ou responsabilidade, por qualquer motivo, incluindo, sem limitação, se você violar os Termos de Uso. Todas as disposições dos Termos de Uso que, por sua natureza, devam sobreviver à rescisão, sobreviverão à rescisão, incluindo, sem limitação, disposições de propriedade, isenções de garantia, indenização e limitações de responsabilidade.</p>

    <h1>10. Lei aplicável</h1>
    <p>Estes Termos de Uso serão regidos e interpretados de acordo com as leis do país em que operamos, sem considerar seus conflitos de disposições legais. Você concorda em submeter-se à jurisdição pessoal e exclusiva dos tribunais localizados no referido país.</p>

    <h1>11. Contato</h1>
    <p>Se você tiver qualquer dúvida sobre estes Termos de Uso, por favor, entre em contato conosco através do e-mail: contato@voluntarie.com.</p>

    <p>Agradecemos por dedicar seu tempo e habilidades para fazer a diferença através do VoluntariÊ. Juntos, podemos contribuir para um mundo melhor!</p>

</body>
{% endblock %}
