{% macro input_text(name, label, attributes='', value='', div_classes='') %}
<div class="{{div_classes}}">
        <label for="{{name}}">{{label}}</label>
        <input type="text" name="{{name}}" id="{{name}}" class="form-control"  {{attributes|safe}} value="{{value|e}}">  

</div>


{#
<div class="text-center">
    <input  id="{{nome}}" name="{{nome}}" class="form-control mb-4" placeholder={{label}} {{attributes|safe}}>
</div>
#}
{% endmacro %}

{% macro input_email(name, label, attributes='', value='', div_classes='') %}

<div class="{{div_classes}}">
        <label for="{{name}}">{{label}}</label>
        <input type="email" name="{{name}}" id="{{name}}" class="form-control" placeholder="ex.: voluntario@gmail.com" {{attributes|safe}} value="{{value|e}}"> 
</div>
{#
<div class="text-center">
    <input  id="{{email}}" name="{{email}}" class="form-control mb-4" placeholder="{{label}}" {{attributes|safe}} >
</div>#}

{% endmacro %}

{% macro input_date(name, label, attributes='', value='', div_classes='') %}
{#
<div class="text-center"> 
    <input type="date"  id="{{data_nascimento}}" class="form-control mb-4" name="{{data_nascimento}}" placeholder="{{label}}" {{attributes|safe}}>
</div>
#}

<div class="{{div_classes}}">
        <label for="{{name}}">{{label}}</label>
        <input type="date" name="{{name}}" id="{{name}}" class="form-control" placeholder=" " {{attributes|safe}} value="{{value|e}}">
    
</div>
{% endmacro %}

{% macro input_password(name, label, attributes='', div_classes='') %}
<div class="{{div_classes}}">  
        <label for="{{name}}">{{label}}</label>
        <input type="password" name="{{name}}" id="{{name}}" class="form-control" placeholder="" {{attributes|safe}}>
</div>

{#<div class="text-center">
    <input type="password"  id="{{senha}}" class="form-control mb-4" name="{{senha}}" placeholder="{{label}}" {{attributes|safe}} >
</div>#}
{% endmacro %}

{% macro input_textarea(name, label, attributes='', value='', div_classes='') %}
<div class="{{div_classes}}">
        <label for="{{name}}">{{label}}</label>
        <textarea name="{{name}}" id="{{name}}" class="form-control" placeholder=" " {{attributes|safe}} style="height:6rem;">{{value|e}}</textarea>
        
    
</div>
{% endmacro %}

{% macro input_select(name, label, options, attributes='', value='', div_classes='') %}
<div class="{{div_classes}}">
        <label for="{{name}}">{{label}}</label>
        <select name="{{name}}" id="{{name}}" class="form-control" placeholder=" " {{attributes|safe}}>
            <option value="" {{"selected" if not value}}>Escolha uma opção...</option>
            {% for option in options %}
            {%- set selected = "selected" if option.value == value -%}
            <option value="{{option.value}}" {{selected}}>{{option.label}}</option>
            {% endfor %}
        </select>
        
    
</div>
{% endmacro %}

{% macro input_radios(name, label, options, attributes='', value='', div_classes='') %}
<div class="{{div_classes}}">
        <legend class="text-secondary" style="font-size:13px">{{label}}</legend>
        <div class="row gx-3 col-12 ">
            {% for option in options %}
            {%- set checked = "checked" if option.value == value -%}
            <div class="col">
                <input type="radio"  name="{{name}}" id="{{name}}{{loop.index}}" value="{{option.value}}" autocomplete="off" {{checked}}>
                <label  for="{{name}}{{loop.index}}">{{option.label|safe}}</label>

            </div>
            {% endfor %}
        </div>
</div>
{% endmacro %}



{%- macro input_switch(name, label, attributes='', value='', div_classes='') -%}
{% set checked = "checked" if valor else "" %}
<div class="{{div_classes}}">
    <label class="form-check-label" for="{{name}}">{{label}}</label>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="{{name}}" name="{{name}}" {{checked}}>
        
    </div>
</div>
{% endmacro %}

{% macro input_number(name, label, min='', max='', attributes='', value='', div_classes='') %}
<div class="{{div_classes}}">
        <label for="{{name}}">{{label}}</label>
        <input type="number" name="{{name}}" id="{{name}}" class="form-control" placeholder="" min="{{min}}" max="{{max}}" {{attributes|safe}} value="{{value|e}}">
        
    
</div>
{% endmacro %}